[2014-07-03 13:58] gurneyalex opened #3 "6.1: fix travis build"

[2014-07-03 14:00] gurneyalex opened #4 "7.0 fix travis build"

[2014-08-14 11:19] yvaucher opened #6 "Missing labels *needs fixing* and *needs review*"
Read OCA/maintainers-tools#29 to know more about it

[2014-08-14 13:38] #6 closed, assigned to nobody

[2014-09-03 17:42] yvaucher opened #9 "8.0 fix travis build"

[2014-10-16 11:14] yvaucher opened #16 "stock_reserve - test and fix _onchange_product_id in StockReservation"
This issue was resolved

https://github.com/odoo/odoo/issues/2325

[2014-10-24 13:36] eLBati commented on #4
I think this is now fixed https://travis-ci.org/OCA/stock-logistics-warehouse/builds/38137692

[2014-10-24 14:01] pedrobaeza commented on #4
Yep!

[2014-10-24 14:01] #4 closed, assigned to nobody

[2014-11-28 16:31] clonedagain opened #24 "Valuation modules could be moved to OCA/margin-analysis"
The "margin-analysis" project already has work ongoing about standard price computation, which is used for stock inventory valuation.
I suggest the valuation modules in stock-logistics-warehouse should be handed to them to make it clearer.

[2014-12-05 20:02] bwrsandman commented on #3
Any news on this?

[2014-12-18 10:10] vst opened #31 "Singleton Error"
I have a self-referential `one2many` relationship on my `product.product` model.

I received a weird "Expected singleton" exception when showing the product page (form) and somehow managed to solve it by changing `@api.multi` to `@api.one` on https://github.com/OCA/stock-logistics-warehouse/blob/8.0/stock_reserve/model/product.py#L63. This probably applies to `product.template` as well.

What do y

[2015-02-26 22:32] bealdav opened #36 "Module name: technical vs functional name"
As you can see here https://github.com/OCA/stock-logistics-warehouse/blob/7.0/stock_available_mrp/__openerp__.py
the module is:
technical: stock_available_mrp
functional: Consider the production potential is available to promise
Why those names are so different ?
Why don't use summarize key as 'Consider the production potential is available to promise'
and 'Stock Available MRP' as fucntional name

[2015-03-17 14:32] lepistone opened #42 "tests of stock_reserve_sale fail with recent odoo/odoo. it works with older odoo"
I'm investigating this now.

[2015-03-17 14:42] lepistone commented on #42
`git bisect` pointed the finger to: https://github.com/odoo/odoo/commit/d4152c2a40877fd62815d0a55bce5e64b053db72

[2015-03-17 16:20] lepistone commented on #42
related bug: https://github.com/odoo/odoo/issues/5797

[2015-03-17 16:40] lepistone commented on #42
The problem is actually bad, as before that commit, reservations were effective with the simplest warehouse configurations and not with others, and after that commit the situation changes again... I'm making a PR to fix that.

[2015-03-20 17:12] yvaucher commented on #36
I think the phrase can go under `summary` key

[2015-03-30 08:23] #42 closed, assigned to lepistone

[2015-04-25 19:26] mlaitinen opened #50 "Unable to release reservation or confirm sales quotation when > 1 quotation lines"
I'm unable to confirm a sales quotation or release all order line reservations if there are more than 1 `sale.order.line` with reservations.

The error message is `('ValueError', 'Expected singleton: stock.reservation(34, 35)')`

Steps to reproduce:
1. Create a sales quotation with more than one reservable product lines
2. Reserve all products, separately or all at once
3. Confirm the sales quotat

[2015-04-25 19:43] mlaitinen commented on #50
I have a commit for this, but I'm not sure how to create a pull request without including the translations, which are already committed in pull request #49.

[2015-06-01 09:12] yvaucher opened #52 "Missing readme.rst"
- [x] ./stock_reserve @Doscaal #53
- [x] ./stock_location_ownership @Doscaal #54
- [x] ./stock_reserve_sale @Doscaal #55

[2015-06-30 14:13] mcassuto opened #59 "Domain on wizard locations ?"
Hi,

I wonder why
- the wizard source location is not the sale_order.warehouse_id.lot_stock_id (the main stock location for the sale order Warehouse) by default
- the list of destination location are not the customer location by default ?

Usually a sale person sales from stock to customer...

[2015-06-30 18:09] pedrobaeza commented on #59
Which module?

[2015-07-28 14:45] abdelrahmanallam opened #63 "installing take long time"
i copied the folders in the addons folder and when i go to the system i tried to install the module and it take too long time to install it is still loading for 2 hours

[2015-07-29 12:28] pedrobaeza commented on #63
Which module?

[2015-07-30 17:50] #50 closed, assigned to nobody

[2015-08-05 09:28] laetitia-gangloff opened #67 "Error in stock_resserve test ?"
It seems there is the follwoing error in travis :

There is someone on it ?

2015-08-05 09:23:10,002 22852 DEBUG openerp_test openerp.tools.yaml_import: Exception during evaluation of !python block in yaml_file /home/travis/build/OCA/stock-logistics-warehouse/stock_reserve/test/stock_reserve.yml.
Traceback (most recent call last):
File "/home/travis/odoo-8.0/openerp/tools/yaml_import.py", line 581

[2015-08-05 09:31] nhomar commented on #67
I don't think so.... be my guest.

[2015-08-05 17:41] max3903 opened #68 "Inactive location"
# stock_location_inactive

This module allows you to check that:
- a location is empty (no product)
- a location has no active sub-locations

before setting it as inactive.

It also modify the Inventory Analysis report to hide inactive locations.
# Usage
- Go to Warehouse > Configuration > Locations
- Try to deactivate a location
- Go to Reporting > Warehouse > Inventory Analysis
- A grouping by l

[2015-08-06 14:26] clonedagain commented on #68
@lbellier can you please follow this development? we definitely need this too.
@max3903 please add 8.0 to the rodamap, we can offer our help porting to new API if you want.

[2015-08-06 14:29] max3903 opened #69 "Port inactive location to v8"
- [ ] #68

[2015-08-19 23:16] erocre opened #73 "stock_available don't "work" with product variants"
If you work with product.product, the field "immediately_usable_qty" shows stock of product.template so the quantity is wrong

![image](https://cloud.githubusercontent.com/assets/10234023/9371890/f32117be-46d8-11e5-8176-e1d01839d232.png)

[2015-08-20 09:07] pedrobaeza commented on #73
@clonedagain, can you please check it?

[2015-08-21 09:42] clonedagain commented on #73
I think I notices something of this kind during the v8 review but we concluded it was OK , but maybe it is not after all. @lbellier and I are off for 2 week but we'll check it son.

[2015-08-24 19:42] ybofr opened #76 "stock_inventory_preparation_filter: Test on runbot from OCA was not successful"
Hi,

I wanted to select on product category that contains two products. I was able to select the product category, but nothing happened related to the filtering. No product came listed below. And when I tried to add a product manually, it came on the top, where I should only select the categories.

It looks to me as if something is wrong in the module and it did not work at all as I was expecting.

[2015-08-25 19:54] pedrobaeza commented on #76
Hi, Eva, you're misunderstanding inventory (in general) behaviour: the only lines added are the ones who already contains some stock. This is the standard behaviour with the existing filters, and the expanded ones only restrict the initial selection to look for.

For these case, I see that you have added two products (eva test 1 raw and eva test 2 raw), but without stock, there will be no line in

[2015-08-25 19:54] #76 closed, assigned to nobody

[2015-08-26 13:49] yvaucher commented on #63
@abdelrahmanallam We don't have enough information.

Thus I close this issue. Feel free to reopen it adding more details.

[2015-08-26 13:49] #63 closed, assigned to nobody

[2015-09-07 16:20] jaronemo opened #78 "stock_mts_mto_rule...Question?"
Dear sir

The virtual stock is more than 0 but less than ordered quantity
=> On part of the products will be taken from stock and a purchase order
will be created for the rest. So it will act like both make to order and make to stock rule.

This module is a good intention. Thank you for the very offer.
However, it seems the business model is actually a little gap, and did not consider supply of pr

[2015-09-08 15:50] clonedagain opened #79 "stock_available should not ignores reserved quants afer all"
It had escaped my attention but during the migration of stock_available, @gfcapalbo slightly changed the semantics : instead of basing computations on the virtual stock (= sum of quants - sum of future moves), we now use the sum of quants where `reservation_id` is `False`.

Now I doubt this is correct. For example, a quant could be reserved for an internal move, and we would still be able to promi

[2015-09-08 16:12] clonedagain commented on #79
@gfcapalbo @gurneyalex @StefanRijnhart @laetitia-gangloff do you agree?

[2015-09-09 12:19] clonedagain commented on #73
Indeed we must compute the quantities for the variants first, and make a distinct method to sum the quantity for the templates - that's what the standard does anyway.
I'll add that to my current PR.

[2015-09-09 14:42] clonedagain commented on #73
@erocre could you please test the branch https://github.com/numerigraphe/stock-logistics-warehouse/tree/8.0-stock_available-based-on-virtual and let met know if it fixes this issue?

[2015-09-09 16:18] erocre commented on #73
:+1: checked and fixed. I will close the issue if you don't have anything to say

[2015-09-10 07:02] clonedagain commented on #73
I think it will be closed automatically when the corresponding PR is merged : https://github.com/OCA/stock-logistics-warehouse/pull/80

[2015-09-15 12:58] #9 closed, assigned to gurneyalex

[2015-09-15 13:49] #67 closed, assigned to nobody

[2015-09-15 13:50] laetitia-gangloff commented on #67
resolved in https://github.com/OCA/stock-logistics-warehouse/pull/82

[2015-09-17 15:34] #73 closed, assigned to nobody

[2015-09-17 15:34] #79 closed, assigned to nobody

[2015-09-22 21:24] gabrielo77 opened #83 "Create a default procurement.rule with 'split_procurement' action when installing module stock_mts_mto_rule"
I can do this, add an xml data file to automatically creates a default procurement.rule with 'split_procurement' action. Let me know if you're interested in this feature. Or state in the README file that you have to create a custom rule to get this module working.

Greetings

[2015-09-22 21:32] gabrielo77 opened #84 "Maximum recursion depth exceeded when running scheduling in stock_mts_mto_rule"
Hello,

After installing this module the procurement scheduling is aborted because of a RuntimeError: maximum recursion depth exceeded exception. I see that run() method on odoo procurement calls _run() method, which, in your stock_mts_mto_rule  recalls run(), and this leads to the recursion error.

Some of did face this issue too?

[2015-09-23 08:22] florian-dacosta commented on #83
Actually, the rule should be created automatically, when you check the field "Use MTO+MTS rules" on the warehouse form view.
But, you are right, if you missed it, we should improve the README file

regards

[2015-09-23 15:53] gabrielo77 commented on #83
I didn't realize that I had to set this option on the warehouse! Thank you, it worked!

[2015-09-28 11:56] Netzvamp opened #87 "I've translated some modules to german"
Hi,
i've translated stock_reserve and stock_reserve_sale to german. Can you add them to the Repo?
stock_reserve: https://www.dropbox.com/s/wwa16gnvh0gu3m6/de.po?dl=0
stock_reserve_sale: https://www.dropbox.com/s/baz0aoqni94t1o1/de.po?dl=0
Thanks,
Robert Lieback

[2015-09-28 12:00] pedrobaeza commented on #87
You can do it via a PR to this repo

[2015-10-12 13:47] gurneyalex opened #89 "stock_available: translation issues on product.product view"
Steps to reproduce:
1. connect to v8 instance on https://runbot.odoo-community.org/runbot/repo/github-com-oca-stock-logistics-warehouse-153
2. add French as a language on the instance
3. enable Technical Settings on Administrator
4. set French as Administrator language
5. Go to Ventes -> Variantes d'articles (Sales -> Product Variants)

Expected:

the "Available to promise" column header is transl

[2015-10-12 13:48] gurneyalex commented on #89
@clonedagain could you look into this, please?

[2015-10-12 14:24] clonedagain commented on #89
OK I'll give it a try but it may be delayed a bit, we're still fighting fires since we moved to v8.

[2015-10-14 00:54] pedrobaeza opened #90 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [x] stock_available - Being made by @stephankeller - #117
- [x] stock_available_immediately - Being made by @stephankeller - #117
- [ ] stock_available_sale
- [x] stock_available_mrp - Assigned to @cyrilgdn - #148
- [ ] stock_inventory_existing_lines
- [ ] stock_inventory_extended
- [ ] stock_inven

[2015-11-05 13:15] clonedagain commented on #90
stock_available_mrp and stock_available_sale are migrating to v8, please refrain from porting to v9 until these PRs get merged:
- https://github.com/OCA/stock-logistics-warehouse/pull/93
- https://github.com/OCA/stock-logistics-warehouse/pull/81

[2015-11-26 01:02] jaronemo opened #105 "Stock MTS+MTO Rule...run..schedulers..error"
![image](https://cloud.githubusercontent.com/assets/8476734/11412823/4dcdf5f2-941c-11e5-9b4f-02d74dfb1507.png)

[2015-11-26 09:34] elicoidal opened #106 "[stock_reserve_sale] doesnot depend on stock_ownership"
Is this a good idea?
What if you need the module ownership for legacy reason reason (or any other module depending on it)?
Ideally would be to be depending on this module.

[2015-12-01 11:31] legalsylvain opened #108 "stock_inventory_location - How this module works ?"
Hi,

I'm just discovering the module stock_inventory_location that manages 'exhaustive' inventory.
I don't understand how it works.

**Use case 1**

My (shelf1) location is empty.
When I confirm the exhaustive inventory, a new pop up is opened with the following message.  "The following Locations are empty". After confirm, the inventory is filled with all the products presents in the location.
![e

[2015-12-10 09:54] florian-dacosta commented on #105
I think you should update the module.
Maybe you pulled the new version but did not update, that could lead to this error

[2015-12-11 11:00] alexis-via opened #109 "8.0 stock_quant_merge Crash when unreserve move linked to quants on multiple locations"
Here is the scenario to reproduce the bug on Odoo v8 with an update OCA/stock-logistics-warehouse/8.0 branch:

1) In a demo database, install the module stock_quant_merge
2) Create a new stockable product TEST1
3) Let's say that we have 5 units of TEST1 on Self1 and 2 units on Shelf 2.
In the "Inventory" Tab, click on the "Update" button next to "Quantity on Hand":
- Location : WH/Stock/Self 1
- N

[2015-12-11 11:29] clonedagain commented on #109
@pedrobaeza @oihane @lbellier @rvalyi for your information.

I think this is a mistake in my change in b1c856855bca0208e90268d122870fd60f6ff166
A quick fix is probably to revert it.

I'm off for the day, can someone suggest a durable fix that would keep the modularity please?

[2015-12-11 11:31] clonedagain commented on #109
@alexis-via can you propose an automatic test please?

[2015-12-11 11:38] rvalyi commented on #109
gahhh sorry I didn't spot the regression

[2015-12-11 12:26] alexis-via commented on #109
I am not familiar with this code, but when you read Lionel's commit https://github.com/OCA/stock-logistics-warehouse/commit/b1c856855bca0208e90268d122870fd60f6ff166 it's obvious that

[code]

should be:

[code]

[2015-12-11 12:57] rvalyi commented on #109
@alexis-via you are right!

[2015-12-12 10:25] pedrobaeza commented on #109
Fixed directly!

[2015-12-12 10:25] #109 closed, assigned to nobody

[2015-12-30 18:48] ghost opened #111 "stock_mts_mto_rule :: extra moves created when recreate delivery order"
product A = 5 units ( in stock)
make product A ( MTO+MTS )
make new sale order and order 10 units of product A
confirm and recheck availability in delivery order
confirm and receive products from the PO made
cancel the delivery order and recreate it from sale order
!!! now delivery order has extra lines

[2016-01-05 22:51] JulioSerna opened #112 "[8.0][stock_mts_mto_rule] move by mts_mto does not propagate"
Impacted version
- 8.0

Steps to reproduce
- To set warehouse **Outgoing Shippings** in three steps **pick/pack/out**
- To set warehouse with **Use MTS+MTO rule**
- To set one product with routes **Manufacture and Make to Order-Make to Stock**
- To set stock available of product with qty_available=10
- To create sale order with product_qty = 15

Current Behavior
When confirm sale order created the

[2016-01-05 23:15] JulioSerna commented on #112
I propose with this PR https://github.com/OCA/stock-logistics-warehouse/pull/113  when the warehouse is with "Use MTS+MTO rule" set by default the pull rule of customer location with split_procurement,
![warehouse s routes odoo](https://cloud.githubusercontent.com/assets/7595505/12130428/d0aa4e6c-b3cf-11e5-8400-1b07063b918d.png)

and the pick/pack/out  looks like this,

Pick,
![stock operations od

[2016-01-13 16:50] clonedagain commented on #90
@pedrobaeza can you please add stock_available, stock_available_sale and stock_available_mrp to the TODO list?

[2016-01-20 19:36] stephankeller commented on #90
we are porting stock_available and stock_available_immediately to v9.

[2016-01-20 19:38] pedrobaeza commented on #90
Noted!

[2016-01-21 08:54] clonedagain commented on #90
@stephankeller if you didn't test stock_available_sale and stock_available_mrp yet, check if they can be useful to you. Maybe you'd consider migrating them too? Numérigraphe won't move to v9 so we can't help there.

[2016-02-10 13:21] stephankeller commented on #90
@clonedagain sorry for the delay, we are aware of those modules but our customers don't need them so far.  So we have no plan to port them.  I will let you know if it changes.

[2016-02-27 11:40] dvdhinesh commented on #90
stock_location_area_data #123

[2016-03-05 20:04] levkar commented on #111
I confirm this bug but more. You don't even have to confirm and receive PO. Just cancel delivery order and recreate it from the sale order to see the magic.

Things really get serious once a customer realises that he gave some duplicate orders!

FYI
@florian-dacosta @pedrobaeza

[2016-03-08 17:13] aignermi opened #130 "[stock_mts_mto_rule]: MTO Procurement goes on exception with "No rule matching this procurement" message"
We have products configured as MTS+MTO, suppliers are set on the product and when I create a sales order, Odoo also creates the procurement but the procurement goes on status exception with "No rule matching this procurement" message. When I edit the procurement and add the "YourCompany:  Buy" rule to it, it runs through and creates the PO as it should. But I don't find the setting where I can set

[2016-03-08 19:12] aignermi opened #131 "[stock_mts_mto_rule]: Multi Warehouse?"
Is the stock_mts_mto_rule module multi warehouse able? If yes, what is the correct way to set that up? Do I duplicate the MTS+MTO Route and set than on the product in which warehouse the po should be delivered? Thx for your help!

[2016-03-10 13:00] florian-dacosta commented on #131
I have never tested the module with multiwarehouse, but I guess it should work if you configure it well.
You should not duplicate the mts+mto route, it won't work this way.

When you create your new warehouse, you should have a new mts rule and a new mto rule for this warehouse.
Then, you can duplicate the mts+mto rule (inside the mts+mto route), configure it with the new warehouse, the new mts ru

[2016-03-10 13:02] florian-dacosta commented on #130
I guess you have a configuration problem.
Did you check the box "'Use MTO+MTS rules" on your warehouse?

[2016-03-11 03:49] jaronemo opened #133 "stock_mts_mto issue"
step:
1、warehouse set use mts+mto in multi warehouse
2、product ...procurement sheet set use  mts+mto rule
3、run procurement ...error
![image](https://cloud.githubusercontent.com/assets/8476734/13692741/1703f876-e77f-11e5-9781-52ede21e7dbf.png)
![image](https://cloud.githubusercontent.com/assets/8476734/13692750/294a8c84-e77f-11e5-8d6e-def81f5e9765.png)
4、go product --> procurement sheet ...don't u

[2016-03-11 09:23] florian-dacosta commented on #133
It must be a configuration issue with your mts+mto rule.
What is the procurement location of your mts+mto rule?
What is the procurement location and the source location of the MTO rule configured inside the mts+mto rule?
What is the procurement location and the source location of the MTS rule configured inside the mts+mto rule?

[2016-03-15 08:57] clonedagain opened #134 "Migrate stock_inventory_hierarchical and stock_inventory_location to v8"
We're finally migrating these 2 modules to v8.
When this is done, migration to v9 "should" be quite simple.
# History
- [x] pull the history of the modules into the branch `8.0` -
# `stock_inventory_hierarchical`
- [x] PR: https://github.com/OCA/stock-logistics-warehouse/pull/139
- [x] use `location_id` (now it's standard)
- [x] move the "generate inventories" wizard to  `stock_inventory_hierarchi

[2016-03-15 16:44] clonedagain commented on #134
@laetitia-gangloff @lmignon @sbidoul for your information

[2016-03-16 04:28] jaronemo commented on #133
Dears:
I find problem..about this
procurement rule in mts rule and mto rule ...location..is null
But. I dont know...why?

[2016-03-17 09:16] clonedagain opened #138 "Branch 7.0 is not in indexed in apps.odoo.com"
I tried to search for some of the modules in this repo in apps.odoo.com but couldn't find any for v7.
Maybe we lack some sort of configuration?

[2016-03-17 22:10] pedrobaeza commented on #138
Branch added on apps.odoo.com

[2016-03-17 22:10] #138 closed, assigned to nobody

[2016-03-18 01:11] anajuaristi commented on #133
I'm trying to configure mts+mto for 2 steps outgoing warehouse and I find no way.

The use case is this one

I want to move materials from stock --> output --> customers

I need to configure mts+mto only on first step
i select mts+mto on warehouse so a new route is created but the Mts and Mto correctly created rules are for output location. On customers location I have got the same rule (MTO) on b

[2016-03-18 09:00] florian-dacosta commented on #133
I guess for your use case, you should have :

One pull rule with procurement location : Customers and Source location : Output. (let's call it customer rule)
Another MTS pull rule with procurement location Output and source location stock. (let's call it mts rule)
An equivalent MTO rule with procurement location Output and source location stock.(let's call it mto rule)

A MTS+MTO rule with :
- pro

[2016-03-21 08:44] cyrilgdn commented on #90
Starting to work on stock_available_mrp.

[2016-03-23 07:57] disna-sistemas opened #150 "module stock_lock_lot throws exception when creating lot_id via xmlrpc"
I have a script to import data via xmlrpc with the following code:

*\*                lot_values= {
                    'product_id': some_prod_id,
                    'name': some_lot,
                    'life_date': some_date,
                }

[code]

It works while module stock_lock_lot is not installed, otherwise, odoo throws this exception:

xmlrpclib.Fault: <Fault 1: 'Traceback (most rec

[2016-03-29 16:15] clonedagain commented on #150
We'd need to have the exact error message you get, I'm not sure we can do much without that.
Can you provide that please ?

[2016-03-29 16:15] clonedagain commented on #150
@lbellier maybe we'll want to look into this.

[2016-03-30 06:33] disna-sistemas commented on #150
Sorry,   the thrown exception is:

/usr/bin/python2.7 "/opt/odoo/v8/disna-sistemas/xml-rpc/disna/inventario/991_inventario delferro semi.py"
{'server_version_info': [8, 0, 0, 'final', 0], 'server_serie': '8.0', 'server_version': '8.0', 'protocol_version': 1}
Traceback (most recent call last):
  File "/opt/odoo/v8/disna-sistemas/xml-rpc/disna/inventario/991_inventario delferro semi.py", line 110, i

[2016-03-30 06:45] lbellier commented on #150
Hi @disna-sistemas,
Thanks for the complete traceback.
I can see that the last line indicated you try to create a lot with a product_id equal to False, so without any product.
Is this normal ?

[2016-03-30 07:04] disna-sistemas commented on #150
Hi @Ibellier,
No, the product_id is always set, never False.  The code works perfectly if I uninstall this module, creating the lot for the proper product_id.

[2016-03-30 07:15] lbellier commented on #150
Ok,
The traceback indicate the error was on line 72.
The last version indicate the line 81 for the same code.
Are you sure your code is up to date ?

[2016-03-30 07:36] disna-sistemas commented on #150
Here you are the whole fully simplified code:

# -_\- encoding: utf-8 -_-

import xmlrpclib

url = 'http://192.168.25.21:8069'
common = xmlrpclib.ServerProxy('{}/xmlrpc/2/common'.format(url))

dbname='some_db'
username='admin'
pwd='some_password'

uid = common.authenticate(dbname,username,pwd,{})
models = xmlrpclib.ServerProxy('{}/xmlrpc/2/object'.format(url),allow_none=True)

lot_values= {
    'p

[2016-03-30 10:01] lbellier commented on #150
@disna-sistemas.
You are right, our code have a bug.
You can find the new pull request at the following adress :
https://github.com/OCA/stock-logistics-workflow/pull/214

[2016-03-30 10:49] clonedagain commented on #150
Please close the issue: fixed at https://github.com/OCA/stock-logistics-workflow/commit/4e5ae1404e988945f365ecccbffc4847d474b46f.

[2016-03-30 10:49] #150 closed, assigned to nobody

[2016-04-04 14:28] andhit-r opened #152 "stock_inventory_hierarchical_location cause import error when starting server"
Hi,

I notice that **stock_inventory_hierarchical_location** module cause import error when starting server. The problems are in **inventory_hierarchical_location.py** line **24** and **27**. Bellow are the messages:

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/werkzeug/serving.py", line 177, in run_wsgi
    execute(self.server.app)
  File "/usr/lib/python2.7/dist-p

[2016-04-04 14:37] andhit-r commented on #152
PR for this issue https://github.com/OCA/stock-logistics-warehouse/pull/154

[2016-04-04 15:51] #152 closed, assigned to nobody

[2016-04-04 16:38] clonedagain commented on #134
All PRs have been posted, reviewers wanted.

[2016-04-22 04:03] andhit-r opened #160 "[stock_inventory_hierarchical][8.0][Bug] _complete_name() takes at least 6 arguments (5 given)"
module: stock_inventory_hierarchical
version: 8.0
Repo SHA: c869321ee266db13a6f2d56c7bd71a08cc593b9b

**Steps to reproduce**
1. Install stock_inventory_hierarchical
2. Create new inventory valuation

**Current behavior**
Exception raised:
Traceback (most recent call last):
  File "/opt/odoo/odoo/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(

[2016-04-23 03:25] andhit-r commented on #160
Solve. Solution: Update odoo to latest commit

[2016-04-23 03:25] #160 closed, assigned to nobody

[2016-05-09 16:16] aignermi commented on #130
Yes I did, the problem was that I also needed to set the Buy route on the product, so both: Buy & MTO&MTS Route pre product.

[2016-05-09 16:16] #130 closed, assigned to nobody

[2016-05-09 16:36] aignermi opened #163 "MTO/MTS not working after Inventory Adjustments"
We did Inventory Adjustments for 500 products last week using the Inventory Control->Inventory Adjustments functionality (so basically updating the quantity on hand). We have a setup with 2 locations, one location has 0 inventory for those 500 products, the other location holds the inventory for those products.

Now here's the problem:
1) update quantity on product1 to 3
2) 2 sales orders for this

[2016-05-10 03:07] #105 closed, assigned to nobody

[2016-05-10 03:12] jaronemo opened #164 "MTS+MTO Rule Question:Create a duplicate of the same production ..Why?configure error?"
Dears:
![image](https://cloud.githubusercontent.com/assets/8476734/15134555/d80d8c68-169f-11e6-8fae-5f82aeb21755.png)

It will generate similar production of single or repeated purchase orders every day, in different product items
I do not know that part of the configuration problem caused.
For example shown, block up the rules to generate the MO1 and MO2 single production

[2016-05-16 19:08] nhomar commented on #112
Closed here:

https://github.com/OCA/stock-logistics-warehouse/pull/113

[2016-05-16 19:08] #112 closed, assigned to nobody

[2016-05-26 14:32] aignermi commented on #131
it actually works like a charm like you described, thanks @florian-dacosta !

[2016-05-26 14:32] #131 closed, assigned to nobody

[2016-05-26 14:33] aignermi commented on #163
after working with @florian-dacosta on it, it's not an issue of the module but rather a limitation. we thought we could also do mto/mts logic on multiple locations in one warehouse, but this is not the supposed way. you always have to use multiple warehouses for that!

[2016-05-26 14:33] aignermi commented on #163
after working with @florian-dacosta on it, it's not an issue of the module but rather a limitation. we thought we could also do mto/mts logic on multiple locations in one warehouse, but this is not the supposed way. you always have to use multiple warehouses for that!

[2016-05-26 14:33] #163 closed, assigned to nobody

[2016-06-06 15:09] cyrilgdn commented on #90
PR for  stock_orderpoint_generator (was  stock_orderpoint_creator)
https://github.com/OCA/stock-logistics-warehouse/pull/170

[2016-06-17 18:17] aliomattux opened #171 "8.0 stock_reserve key error with _inherits"
Hi,

I tried to install the stock_reserve 8.0 module on my 8.0 Odoo instance and cannot with an error:

  File "/usr/local/openerp/odoo/openerp/modules/loading.py", line 156, in load_module_graph
    registry.setup_models(cr, partial=True)
  File "/usr/local/openerp/odoo/openerp/modules/registry.py", line 197, in setup_models
    model._setup_complete(cr, SUPERUSER_ID)
  File "/usr/local/openerp/o

[2016-07-04 06:57] jaronemo opened #175 "stock_quant_manual_assign...performance issue"
Dears:

When the module is installed.

Serious performance problems occur when picking a job.
Create a picking document contains only a sum of product information, save time, have to spend 5 to 8 minutes or so to complete the save.

After removal of this module, the job was within 1 second.

[2016-07-04 07:30] pedrobaeza commented on #175
AFAIK, this module doesn't impact in that operation, so please re-check.

[2016-07-05 14:34] jaronemo commented on #175
Dears

In facts, True.
We took two test database, each on a different machine. This module are installed.
A database: a large amount of documents under practical circumstances, he is able to issue effective on.
B database: use demo data, no this question.

In addition, A database has multiple warehouses. WH1 ~ WH7
There will be the amount of documents and multi-WH1 ~ WH3 amount of stock movement i

[2016-07-17 21:46] roboticsound opened #178 "[feature request] stock_mts_mto_rule to create manufacturing order"
Hi,
I would like something very similar to this feature, however as the pieces are manufactured in house i would like a manufacturing order to be created instead of a purchase order. The workflow would check whether parts are in stock first and then create a manufacturing order for any parts that need to be created. As far as I can tell the module does not currently do this. I may be willing to ta

[2016-07-28 15:29] dhecar opened #179 "UnicodeEncodeError: 'ascii'"
Hello, i'm trying to use the module stock_reserve_sale , but in products with spanish charactes like  ñ o with ü ï  etc characters im'm geting this error.

Client Traceback (most recent call last):
  File "/opt/odoo/odoo-server/addons/web/http.py", line 204, in dispatch
    response["result"] = method(self, *_self.params)
  File "/opt/odoo/odoo-server/addons/web/controllers/main.py", line 1137, in

[2016-08-03 12:31] StefanRijnhart commented on #111
Closing as the issue of duplicate lines was fixed in the attached PR

[2016-08-03 12:31] #111 closed, assigned to nobody

[2016-08-03 12:32] StefanRijnhart commented on #83
Closing this as it was fixed by your contributed lines of documentation.

[2016-08-03 12:32] #83 closed, assigned to nobody

[2016-09-05 07:38] JordiBForgeFlow opened #185 "Use of module stock_mts_mto_rule in manufacturing orders"
We'd like to explore the possibility of using the module "stock_mts_mto_rule" in the context of manufacturing orders.

That is, when a manufacturing order is confirmed, and the stock moves are created, the application should reserve whatever stock is available, following a mts rule, and if there's none left, should evaluate a mto rule.

Any thoughts on how to set it up?

cc @florian-dacosta

[2016-09-13 09:43] katyukha commented on #90
PR for _stock_reserve_ and _stock_reserve_sale_ - #186

Also improvements for these addons: #187 #188

[2016-10-06 14:09] pedrobaeza opened #201 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] base_product_merge
- [ ] business_product_location - By @rousseldenis - #446
- [ ] configurable_stock_level
- [ ] partner_location_auto_create
- [x] stock_available - By @SodexisTeam - #219
- [x] stock_available_immediately - By @SodexisTeam - #219
- [x] stock_available_mrp - @Cedric-Pigeon #2

[2016-10-07 08:44] tomwic opened #202 "Odoo 8/stock_putaway_product"
n/a

[2016-10-07 11:53] #202 closed, assigned to nobody

[2016-10-09 16:45] Garamotte commented on #201
Migration of stock_mts_mto_rule here : https://github.com/OCA/stock-logistics-warehouse/pull/203
(Including #157 which migrates from v8.0 to v9.0, but is not yet merged)

[2016-10-21 06:29] pedrobaeza commented on #175
I don't see in that trace anything involved with the module. Are you talking about performance in a daily basis, at module install moment, or when?

[2016-10-21 06:29] pedrobaeza commented on #134
I close this issue as the PRs are done

[2016-10-21 06:29] #134 closed, assigned to nobody

[2016-10-21 06:31] pedrobaeza commented on #171
Please try to reproduce the problem in runbot. If not, see which is the module that is conflicting with this one. If it's an OCA one, then please report back and I'll reopen the issue. If not, I'm afraid you're on your own.

[2016-10-21 06:31] #171 closed, assigned to nobody

[2016-10-21 06:31] pedrobaeza commented on #87
Closing the issue as answered.

[2016-10-21 06:31] #87 closed, assigned to nobody

[2016-10-21 06:33] pedrobaeza commented on #69
Closing as already merged

[2016-10-21 06:33] #69 closed, assigned to nobody

[2016-10-21 06:34] pedrobaeza commented on #68
Closing as PR merged.

[2016-10-21 06:34] #68 closed, assigned to nobody

[2016-10-21 06:34] pedrobaeza commented on #59
No answer, so I close.

[2016-10-21 06:34] #59 closed, assigned to nobody

[2016-10-21 06:35] pedrobaeza commented on #52
All merged, so I close.

[2016-10-21 06:35] #52 closed, assigned to nobody

[2016-10-21 06:35] pedrobaeza commented on #36
You can propose a PR changing it, David.

[2016-10-21 06:35] #36 closed, assigned to nobody

[2016-10-21 06:37] pedrobaeza commented on #16
Closing as solved.

[2016-10-21 06:37] #16 closed, assigned to nobody

[2016-10-21 06:38] pedrobaeza commented on #84
It seems nobody faces it, so I close.

[2016-10-21 06:38] #84 closed, assigned to nobody

[2016-10-21 06:38] pedrobaeza commented on #89
Any news on this?

[2016-10-21 06:39] pedrobaeza commented on #106
@lepistone or @gurneyalex seem to be the original authors, so maybe they can answer.

[2016-10-21 06:40] pedrobaeza commented on #31
I don't see any problem in current code, so the problem should be in your side. Closing this.

[2016-10-21 06:40] #31 closed, assigned to nobody

[2016-10-21 06:40] pedrobaeza commented on #108
@clonedagain, can you answer this, please?

[2016-10-21 06:44] pedrobaeza commented on #185
@jbeficent, did you try something?

[2016-10-21 06:45] pedrobaeza commented on #179
The solution would be to prefix the string format with `u`: `...'name': u"{} ({})".format(line.order_id.name, line.name),`

Fixed in https://github.com/OCA/stock-logistics-warehouse/commit/17d447030011980d1bd21674745e06b5a3da4a59 and https://github.com/OCA/stock-logistics-warehouse/commit/3aa51b052aff7c15fd9492fd05dbb77bfa76e26f

[2016-10-21 06:45] #179 closed, assigned to nobody

[2016-10-21 06:46] pedrobaeza commented on #178
Closing as this is only a request, but no PR exercising it.

[2016-10-21 06:46] #178 closed, assigned to nobody

[2016-10-21 06:48] lepistone commented on #106
I don't know myself. Maybe @gurneyalex . Thanks!

[2016-10-21 06:51] pedrobaeza commented on #78
Please propose a PR with the enhancement if you see the behavior incorrect.

[2016-10-21 06:51] #78 closed, assigned to nobody

[2016-10-21 06:52] pedrobaeza commented on #133
Answered, so I close.

[2016-10-21 06:52] #133 closed, assigned to nobody

[2016-10-21 07:41] clonedagain commented on #108
`stock_inventory_location` does not change the way the inventory is filled, you still have to fill it using wizards or manual input.
What the module does is warn you when there's not data for a location, and if you confirm, remove existing stocks at this location from the system.
Does it answer your question ?

[2016-10-21 08:29] #108 closed, assigned to nobody

[2016-10-21 13:42] clonedagain commented on #108
CC @lbellier

[2016-10-25 14:55] clonedagain commented on #89
Sorry, We're not been doing much Odoo development lately.
@lbellier do you think we had we fixed this internally ?

[2016-10-27 08:15] lbellier commented on #89
@clonedagain: No we didn't. I will fix that it asap.

[2016-10-27 08:49] lbellier commented on #89
@clonedagain  and @pedrobaeza :
I have fixed it. You can find the pull request at the following link :
https://github.com/OCA/stock-logistics-warehouse/pull/212

[2016-10-27 08:51] #89 closed, assigned to nobody

[2016-11-03 05:55] SodexisTeam commented on #201
We are planning to migrate stock_available and stock_available_immediately.

[2016-11-03 05:56] pedrobaeza commented on #201
OK, written in the main comment

[2016-11-07 23:38] sdalexander opened #218 "stock_mts_mto_rule - How to use with products that have a Bom type =set"
Hi Guys
I have installed this module and it works well for most product set up's , however I am trying now to get it working with products that have a BOM with type = set .
ie. product A has a Set BOM to pull qty 2 of product B,which has a Normal BOM . Stock can be held against product B, No stock is held against Product A.
so If I have an sale order for 10 of product A, with 5 in stock of product

[2016-11-09 12:48] sdalexander commented on #185
Hi @jbeficent

we would like to do something similar, did you manage to configure a route to do this?

regards
Steve

[2016-11-09 13:23] florian-dacosta commented on #185
@jbeficent Sorry to answer so late...

The module was originally made for buying purpose.
I think it can also be used to create or not a manufacturing order depending on the stock of the end product.

But once the manufacturing order is created, the mts+mto rule won't be able to help anymore.
I just had a quick look into the mrp module, and I think you can't make your usecase work with this module

[2016-11-09 13:34] michaeljohn32 commented on #185
At one point, I did work on this for v.8.  I extended the action_confirm() method.  I haven't worked on it since, but the code is AGPL and located here: https://github.com/michaeljohn32/odooaddons as mrp_mto_with_stock

[2016-11-09 13:35] sdalexander commented on #185
Hi Florianregarding the stock_mts_mto_rule, will the module work with an order for a product with a BOM type of SET ?see my issue from yesterdayhttps://github.com/OCA/stock-logistics-warehouse/issues/218regardsSteveOn 09 November 2016 at 13:23 Florian notifications@github.com wrote:@jbeficent Sorry to answer so late...The module was originally made for buying purpose. I think it can also be used t

[2016-11-09 13:51] florian-dacosta commented on #218
Hello,
I am not sure, I think it your case can't work for one step delivery, but it may work for a 2 step delivery...
Anyway, it would probably be a good improvement to make for the module

[2016-11-15 05:50] atchuthan commented on #201
Created PR https://github.com/OCA/stock-logistics-warehouse/pull/219 for stock_available & stock_available_immediately.

[2016-12-29 11:17] JordiBForgeFlow opened #237 "RFC: Cycle Count in Odoo"
# Introduction

The purpose of this RFC is to define the design for a Cycle Count tool in Odoo.

Versions impacted: 8.0 and 9.0.

In order to design, we propose to use as reference the following article: http://www.tompkinsinc.com/wp-content/uploads/2012/06/WP-19_Cycle_Counting.pdf

Comments on functional requirements
Introduce here comments on the previous article.

# Design in Odoo

## Location(

[2016-12-29 11:25] JordiBForgeFlow commented on #237
cc @aheficent @jceficent

[2017-01-02 13:36] kkarolis commented on #201
Planning to migrate stock_reserve & stock_reserve_sale (blocking #190)

Edit:
Added a longstanding PR

[2017-01-05 11:08] LoisRForgeFlow commented on #237
*'stock.inventory.adjustment'* doesn't exist, did you mean *'stock.inventory'*? or is a new model called like that needed?

[2017-01-05 11:40] JordiBForgeFlow commented on #237
@lreficent  stock.inventory

[2017-01-17 16:28] LoisRForgeFlow commented on #237
In order to define the accuracy level calculation rule we will need the user to define some fields:
* Expected Inventory Accuracy
* Precision Required (or Tolerance with the result)
* Number of Counts needed (NC): to verify the estimation, this is calculated with the two fields above. An important point is that these counts have to be selected randomly.

Then, after performing those counts we can

[2017-01-20 09:23] AaronHForgeFlow opened #242 "Rounding precision"
By default the rounding precision of the unit of measure "Units" is 0.001, which can lead to errors when rounding. For example here: https://github.com/OCA/stock-logistics-warehouse/pull/234 Would be good to create a PR to fix this?

![image](https://cloud.githubusercontent.com/assets/19620251/22143442/5973f3e6-defa-11e6-98eb-48cd5f8032a3.png)

[2017-01-20 11:03] andhit-r commented on #242
I always edit it on every implementation. Sure you can always create a PR to Odoo for it. But then you have to create one hell of migration script to adjust stock calculation.

[2017-01-20 11:20] JordiBForgeFlow commented on #242
Yes, this would not apply to OCA. You can close the issue.

[2017-01-20 11:28] #242 closed, assigned to nobody

[2017-01-26 01:57] andhit-r opened #244 "[stock_orderpoint_manual_procurement][8.0] no procure recomendation for several product"
Odoo doesn't show procure recomendation for several product. See attachment bellow:
![procure-recomendation](https://cloud.githubusercontent.com/assets/1947376/22317240/fb302ca0-e3a4-11e6-86fa-cf88fc7a2bb5.png)
Those products has 0 virtual qty. With no moves or quants exists. But there are several products that has 0 virtual qty and no moves and no quants has a procure recomendation.

I've tried t

[2017-01-31 16:45] mrparadies commented on #201
Are there any plans to upgrade the stock_available_mrp module?

[2017-02-09 11:26] SodexisTeam commented on #201
@mrparadies we migrated for a client and haven't completed the demo/tests related to it in PR:https://github.com/OCA/stock-logistics-warehouse/pull/248.

[2017-02-17 08:54] AlainVanUtterbeeck commented on #164
![image](https://cloud.githubusercontent.com/assets/19188561/23058466/67710a4a-f4f5-11e6-9a9a-1055531f99ad.png)
tracebility of the products:
![image](https://cloud.githubusercontent.com/assets/19188561/23058608/1b728a3c-f4f6-11e6-96c5-522f82d2eafb.png)
Could it be there is someting wrong in the combination of using:
- warehouse setting: Bring goods to output location before shipping (Pick + Ship)

[2017-02-27 09:47] alyngsoe commented on #218
Hi sdalexander
Did you find a solution for your issues with MTS module for BOM products ? We have the same issue/needs.

[2017-02-28 10:43] rafaelbn opened #254 "New module to show in pickings a Smartbutton with sale order it comes from"
Hi,

The purpose is to be able to navigate to the sale order from the picking

I thought it would be here in OCA but not yet

Anyone have something like this please?

Thanks

cc @sergio-teruel

[2017-03-16 14:35] LoisRForgeFlow commented on #201
Migrated and needing review:
https://github.com/OCA/stock-logistics-warehouse/pull/261 stock_orderpoint_uom
https://github.com/OCA/stock-logistics-warehouse/pull/262 account_move_line_product
https://github.com/OCA/stock-logistics-warehouse/pull/263 stock_quant_reserved_qty_uom
https://github.com/OCA/stock-logistics-warehouse/pull/264 account_move_line_stock_info
https://github.com/OCA/stock-logis

[2017-03-17 02:48] #175 closed, assigned to nobody

[2017-03-17 02:49] pedrobaeza commented on #175
No answer for a while, so I close.

[2017-03-28 15:56] ccandito opened #269 "stock reservation short dump"
Deal All,
when creating a stock reservation a system error has occurred. Below the log is reported.
Regards
claudio candito

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 675, in dispatch
    result

[2017-03-31 02:34] bistaray opened #271 "[v10] - stock_mts_mto_rule - traceback when renaming warehouse code (without renaming warehouse name)"
File "/odoo-dev/custom/collaboration-solutions-inc/stock_mts_mto_rule/model/warehouse.py", line 137, in _update_name_and_code
    warehouse.name, name, 1)
TypeError: coercing to Unicode: need string or buffer, NoneType found

In this case **name** is False.

Offending line of code is https://github.com/OCA/stock-logistics-warehouse/blob/10.0/stock_mts_mto_rule/model/warehouse.py#L134

I changed

i

[2017-03-31 08:33] pedrobaeza commented on #271
I have fixed it directly as pretty obvious, but in another way from what you propose in https://github.com/OCA/stock-logistics-warehouse/commit/be6745ae8deda174981c85898791f6b16b1a8c76.

[2017-03-31 08:33] #271 closed, assigned to nobody

[2017-04-06 02:04] Guobower opened #272 "MO was created but semi_product procuement have not created when use MTO+MTS rule"
1、I have four warehouse, each named WH （Product）, ASM （Assembly）、SEMI、MRM（material），
2、Product was assemblied in ASM and transfer to WH, ASM using Semi-Product taked from SEMI, SEMI using material taked from MRM
3、When I using MTO+MTS route instead of MTO，after confirm sale order, Product MO created in ASM correct，but semi-product not created, and have not procuement error.
4、When I use MTO routes

[2017-05-16 16:04] JordiBForgeFlow opened #286 "[RFC] Prioritize locations during removal strategy"
We found an issue during the warehouse removal operations where quants could be fetched from a location that is less desired than others, for quants that were received in the same date. We want to establish a general priority on locations to better resolve this kind of issues.

Example
------------
We purchase 20 widgets, and after receiving them, we place 10 in shelf A, and 10 in shelf B (because

[2017-05-16 16:05] JordiBForgeFlow commented on #286
cc @mreficent can you look into this one?

[2017-05-22 08:48] AlainVanUtterbeeck commented on #272
I also detect that when an MO is created, no requirements are created for components that have the mto+mts rule! To my opinion, that is a very serious and dangerous bug !

[2017-05-22 16:04] JordiBForgeFlow opened #288 "[RFC] Add Chatter to stock.inventory"
We have identified that it is usual for people to log some insights around inventory adjustments. We also identify that changes key attributes of the inventory adjustment should be logged. E.g. when the status of the adjustment changes.

We plan to introduce a module 'stock_inventory_chatter', that just adds this capability.

[2017-05-22 16:05] JordiBForgeFlow commented on #288
cc @mreficent @lreficent

[2017-05-24 16:03] ccandito opened #289 "MTO+MTS rule for manufactured parts"
Dear All,
we'd use this rule for manufactured parts.
it seems it is not possible because from a SO no MO has been created for a product having set up this rule.
Regards
claudio candito

[2017-05-26 14:17] eLBati commented on #289
@ccandito which module are you referring to?
What are the steps to produce the problem?

[2017-05-30 13:34] #3 closed, assigned to nobody

[2017-05-30 13:34] #24 closed, assigned to nobody

[2017-06-06 20:03] JordiBForgeFlow commented on #289
@ccandito See https://github.com/OCA/manufacture/pull/191

[2017-06-06 20:05] JordiBForgeFlow commented on #286
Implemented in https://github.com/OCA/stock-logistics-warehouse/tree/9.0/stock_removal_location_by_priority

[2017-06-06 20:05] #286 closed, assigned to nobody

[2017-06-06 20:06] JordiBForgeFlow commented on #272
@Guobower @AlainVanUtterbeeck Can you review this PR that addresses this issue? https://github.com/OCA/manufacture/pull/191

[2017-06-06 20:08] JordiBForgeFlow commented on #237
Closing the issue, as the features have now been implemented in:

https://github.com/OCA/stock-logistics-warehouse/tree/9.0/stock_cycle_count
https://github.com/OCA/stock-logistics-warehouse/tree/9.0/stock_inventory_discrepancy
https://github.com/OCA/stock-logistics-warehouse/tree/9.0/stock_inventory_verification_request

[2017-06-06 20:08] #237 closed, assigned to JordiBForgeFlow

[2017-06-06 20:09] JordiBForgeFlow commented on #185
We have resolved this issue here: https://github.com/OCA/manufacture/pull/191. Can you review, so that we can merge it as soon as possible?

[2017-06-07 07:10] AlainVanUtterbeeck commented on #272
Hello Jordi,

I'd love to try that module and test it. But how do I proceed to get that
module?

Greetings,
Alain

On Tue, Jun 6, 2017 at 10:06 PM, Jordi Ballester Alomar <
notifications@github.com> wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This e-mai

[2017-06-07 07:22] JordiBForgeFlow commented on #272
@AlainVanUtterbeeck You can download from here:
https://github.com/Eficent/manufacture/tree/9.0-add-mrp_mto_with_stock

Or test directly on runbot accessing to the Pull Request:
https://github.com/OCA/manufacture/pull/191

And then pressing on the button 'ci/runbot':
![image](https://user-images.githubusercontent.com/7683926/26866731-cb6e41fc-4b62-11e7-86d4-18eed217bc4b.png)

[2017-06-16 11:59] flotho opened #298 "[8.0]stock_inventory_hierarchical missing exception module"
Hi,

I've recently updated my repo and I have this issue now :
[code]
Two reflection from my side  :
* Is it necessary to have auto_install : https://github.com/OCA/stock-logistics-warehouse/blob/8.0/stock_inventory_hierarchical_location/__openerp__.py#L49
* Is it normal that no exception seems to appear other hierarchical modules?

regards

[2017-06-29 21:49] JordiBForgeFlow commented on #288
@mreficent can you work on this one?

[2017-07-07 09:59] safecoms commented on #201
Are there any plans to upgrade to v10 the stock_cycle_count module?

[2017-07-10 05:59] BetaUliansyah commented on #201
I am waiting for version 10 upgarde of stock_reserve and stock_reserve_sale. What can I do to make it available soon?

[2017-07-10 06:05] pedrobaeza commented on #201
stock_reserve is migrated in https://github.com/OCA/stock-logistics-warehouse/pull/239. Review it.

[2017-07-10 06:10] BetaUliansyah commented on #201
Currently, in my version 10 odoo, I am using stock_reserve #239 and stock_reserve_sale #190 (its v9, but installable to v10).

[2017-07-10 06:19] pedrobaeza commented on #201
OK, then you can add a comment on #239 saying that it's working so it helps to speed up the review process

[2017-07-11 17:26] bealdav opened #315 "module stock_put_away_product"
## what
module stock_put_away_product v8 to v9

## what's wrong
In the readme we can read:

Ok then in my company I should only see putaway rule relative to my company.

However not easy to define security rules without company_id field

## What I propose
Recommandation implied to have one putaway by warehouse, then we may add a computed company_id based on the warehouse company_id. Then I can def

[2017-07-31 20:41] BeAntares opened #323 "MTS+MTO Rule doesn't generate the necessary PO from a Manufacturing order"
When a Sales Order triggers a Manufacturing Order using the MTS+MTO rule and there are some products from the Bill of Materials that don't meet the required quantities, the rule doesn't create the Purchase Orders as it works using the 'Make to Order' rule.

[2017-08-01 11:04] LoisRForgeFlow commented on #323
Hi @BeAntares

Have a look to the module proposed in this PR: https://github.com/OCA/manufacture/pull/191. I think it may be what you need.

[2017-08-01 23:25] BeAntares commented on #323
Thanks @lreficent. It think it could work. Is it adapted to v10?

[2017-08-02 07:59] LoisRForgeFlow commented on #323
@BeAntares yes, there is also an open PR in v10: https://github.com/OCA/manufacture/pull/216

[2017-08-02 15:48] BeAntares commented on #323
Gracias @lreficent, I'll check it out.

[2017-08-02 16:15] #323 closed, assigned to nobody

[2017-08-14 12:18] BzMB opened #327 "stock_available v10: product creation error/warning on _compute_potential_qty"
Hi,
During the testing of the module stock_available, we're hitting the following error when we tried to create a new product into the system.

Are we missing any configuration?
Any ideas?

Thanks in advance.

[code]

[2017-08-15 13:24] ofrmax opened #328 "Problem with stock_availible activation"
Hi Guys,

I'm really new to odoo and I have a problem with the addon stock_availible.

I manage to install the addon on the server and also install it on odoo. But I'm facing an issue when i try to setup the addon ( in the setting menu of the inventory). There is 2 checkbox i can use. When I check both of them or only 1 odoo is loading and after bring me to app store page ( don't know why ). after

[2017-08-15 16:41] pedrobaeza commented on #328
Checkboxes? This module is not installed through checkboxes. Please install it as any other module in the app list.

[2017-08-15 16:53] ofrmax commented on #328
Hi Pedro,

thanks for your quick answer. Unfortunately i dont think you understand my problem. The addons as been install in the app list but is not working properly. here is the checkboxes im talking about

![image](https://user-images.githubusercontent.com/19998638/29326108-479696d6-81b8-11e7-9537-3cc6cefbb7d6.png)

When i check one or both of them and i click on apply. Odoo bring me to this pag

[2017-08-15 16:55] pedrobaeza commented on #328
OK, now you have explained it better. Another good thing to always say is your Odoo version.

[2017-08-15 16:56] ofrmax commented on #328
here is my odoo version (10)

![image](https://user-images.githubusercontent.com/19998638/29326349-2fcc76f0-81b9-11e7-8b38-795538f6410e.png)

[2017-08-15 17:28] ofrmax commented on #328
Can you please reopen the issue ?

[2017-08-15 19:29] lasley commented on #328
I am able to replicate this issue on Runbot, although the check that doesn't seem to stick is the "Include the production potential based on" one - the "Exclude incoming goods" seems fine. The following traceback is in the run log:

[code]

[2017-08-16 13:13] ofrmax commented on #328
Hi on my side both checkboxes not working

[2017-08-18 16:54] ofrmax commented on #328
Any news on this problem ? and how we can solve it ?

[2017-08-30 15:57] ofrmax commented on #328
HI Guys, I would really like to use this addon and I cannot really help on the coding side :( Anyone know how to solve this issue ?

[2017-09-06 14:36] rousseldenis commented on #328
@lasley The KeyError error should be fixed in another PR : https://github.com/OCA/stock-logistics-warehouse/pull/305/ (even if it is not the PR subject).

@ofrmax The screen you are redirected is the next action returned by the configuration workflow. In my case (and I think it's yours), it wants to install a module which is not present on your system (me : stock_availlable_mrp), so Odoo redirects

[2017-09-06 14:38] rousseldenis commented on #327
@BzMB This should be fixed in https://github.com/OCA/stock-logistics-warehouse/pull/305

Bug reported also in https://github.com/OCA/stock-logistics-warehouse/issues/328

[2017-09-06 15:18] rousseldenis commented on #315
@bealdav In fact, you can have several strategies for the same warehouse.

For example in receptions, you have the Quality location and several sublocations, and in Stock location you have several sublocations too.

You can define a strategy on Quality, and another one on Stock with different rules on product level or on product category level.

At the security rules level, indeed there is a brick

[2017-09-06 15:20] rousseldenis commented on #288
@jbeficent I think this is solved.

[2017-09-06 15:22] #288 closed, assigned to nobody

[2017-09-06 15:29] bealdav commented on #315
Thanks for the answer.

[2017-09-07 15:54] sergio-teruel commented on #254
Hi @rafaelbn this addon is in https://github.com/OCA/stock-logistics-workflow/tree/9.0/stock_picking_sale_order_link

[2017-09-07 15:56] #254 closed, assigned to nobody

[2017-09-10 21:37] BetaUliansyah opened #338 "Reservation takes long time, commenting some lines in core module make it faster. Is it safe?"
Im using #239 and #274 in v10. But when doing reservation, it takes up to 3 minutes.

A friend suggested to comment these lines of stock_move.py in stock module (line number 616-618 and 644-645):

`quants = Quant.quants_get_preferred_domain(qty, move, ops=ops, domain=domain, preferred_domain_list=[])
Quant.quants_reserve(quants, move, record)`

The reservation time was not so long anymore after th

[2017-09-25 15:15] jaredkipe opened #341 "MTO+MTS Route does not prevent Dropship when product is in stock."
If a warehouse has the MTO+MTS route and stock, I don't want to create a dropship.

I should be able to fix or create a new module for this if it is out of the scope of the original functionality.  Any advice would be appreciated.

[2017-10-03 15:01] pedrobaeza opened #343 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] account_move_line_product - ~~By @VRodrigo - #354~~ By @mreficent - #471
- [x] account_move_line_stock_info - By @mreficent - #472
- [x] packaging_uom - By @jhumfer - #469
- [ ] partner_location_auto_create - By @BT-kaberer - #443
- [x] procurement_auto_create_group - By @lreficent - #482
-

[2017-10-04 18:25] cyp-opennet opened #344 "Odoo V10: couldn't sell a product based on a phantom-type BoM"
Hi

I have a product, with a BoM defined as type 'phantom'.
When I confirm the sale, Odoo in its normal process explodes the stock move into the BoM's components, and then deletes the original stock move.
With the module 'stock_mts_mto_rule' activated, the system raises this error: "Record does not exist or has been deleted."

Sold product's only route: "Buy"
Component's route: "Manufacture"
One w

[2017-10-09 07:47] blutecsolutions commented on #343
All the best, thanks for all the efforts put in the OCA modules.

[2017-10-09 07:57] blutecsolutions opened #345 "[stock_mts_mto_rule] P.O not auto-generated for zero(0) stock products."
Hello,

Thanks alot for all efforts put in the modules

Concerning this module: https://www.odoo.com/apps/modules/10.0/stock_mts_mto_rule/
I've tried it on the OCA runbot:
When product has MTO + MTS route set + BUY route,
- the Purchase Order is not auto-generated for products with zero(0) stock --
- but products with stock more than 0 can be transferred successfully by Delivery Order.

What am i

[2017-10-09 07:58] blutecsolutions commented on #345
EDIT: I'm not using the Manufacting.Order,
- Delivery Order is created via the Sales.Order

[2017-10-09 08:37] blutecsolutions commented on #345
Ok i found out that the MTO + MTS Route is not configured by default after installing the module, i will record a short video tutorial and we can add it to the module description.
Thanks ,

[2017-11-16 04:01] travish2 opened #355 "[stock_valuation_account_manual_adjustment] Wrong Inventory Value with Standard Price"
Apologies if I have missed something

The issue:
The Inventory Value in stock_valuation_account_manual_adjustment of any given product is doubled when using Standard Costing but correct if it is switched to Average Costing. This is on a v9 database

Eg: Product A has a cost of $1000 and there is 3 on hand. Average costing shows Inventory Value at $3000, Standard Costing shows $6000

I believe the

[2017-11-17 05:39] travish2 commented on #355
An update:

It looks like the issue is actually from the Q2 portion of code - when stepping through it manually it came out with 2 rows rather than 1, which then doubled the result later on.
With average costing Q1 returns a single row so that stays correct.

The double rows in Q2 were caused by ir_model_fields matching product_template.id and "property_cost_method" on two records.

As an attempte

[2017-11-26 04:16] FrancoTampieri opened #357 "[10.0] Transifles translation empty"
Hi @pedrobaeza! I have noticed that transiflex that Transiflex does not present translations of some OCA modules, including specifically those of this project. I would like to contribute translating some of these modules into Italian, but at the moment I can not do without making a fork of the project, manually using poedit and making a merge proposal.

I attach a couple of screenshots of the tran

[2017-12-02 01:45] pedrobaeza commented on #357
Hi @drdran, I have fixed this in https://github.com/OCA/maintainer-quality-tools/commit/0a3591eb34452f84e83253d36e1b64b880dd0616, so check now Transifex

[2017-12-02 01:45] #357 closed, assigned to nobody

[2017-12-29 03:31] fanha99 commented on #343
Hi all,
I think the stock_quant_merge module should be remove.
in 11.0, the quant is different from 10.0. It store only amount in hand, and reserved amount of each lot. When a stock move done, the amount of stock move will be add or sub to the amount in hand if it is the same lot.

[2018-01-09 09:04] rousseldenis opened #364 "[ERR][10.0] stock_orderpoint_uom: _check_procure_uom constraint"
@lreficent @jbeficent The constraint decorator for the _check_procure_uom is incorrect in stock_orderpoint_uom module.

It causes warning on runbot :

Indeed, in **standard**, the product_uom field for stock.warehouse.orderpoint is not stored, so you cannot constrains it.

UPDATE : Here is the message in logs :
method stock.warehouse.orderpoint._check_procure_uom: @constrains parameter 'product_uo

[2018-01-10 14:13] LoisRForgeFlow commented on #327
Closing as the fix has been made.

[2018-01-10 14:13] #327 closed, assigned to nobody

[2018-01-10 14:14] LoisRForgeFlow commented on #328
Fixed at #305

[2018-01-10 14:14] #328 closed, assigned to nobody

[2018-01-21 09:25] ccandito opened #368 "system dump in "short demand estimate""
Dear All,
I've tried to create "stock demand estimates" and the following dump occurred.
thanks in advance
claudio candito

Traceback (most recent call last):
  File "/home/odoo10/odoo.10-dev/odoo/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo10/odoo.10-dev/odoo/odoo/http.py", line 677, in dispatch
    result = self

[2018-01-22 14:01] rousseldenis opened #369 "[pylint] stock_inventory_discrepancy: pylint"
@lreficent It contains two api.one and makes pylint fail.

https://github.com/OCA/stock-logistics-warehouse/blob/6a0d337bafee7103f9ae7209b391eb76243c4ee6/stock_inventory_discrepancy/models/stock_inventory.py#L20

[2018-01-22 14:04] #364 closed, assigned to nobody

[2018-01-22 14:05] rousseldenis opened #370 "[pylint] stock_inventory_exclude_sublocation: pylint error"
@mreficent There is a pylint error.

https://github.com/OCA/stock-logistics-warehouse/blob/6a0d337bafee7103f9ae7209b391eb76243c4ee6/stock_inventory_exclude_sublocation/models/stock_inventory.py#L53

Use read_group() function instead.

[2018-01-22 14:36] MiquelRForgeFlow commented on #370
Blame Odoo https://github.com/odoo/odoo/blob/10.0/addons/stock/models/stock_inventory.py#L259

cc: @lreficent

[2018-01-22 14:50] rousseldenis commented on #370
@mreficent :innocent: We could do better :smile:

[2018-01-30 02:51] conroyke56 commented on #343
Hi All,
Desperate for some of these modules to be upgraded to 11.
Id be willing to pay using Freelancer or similar for anyone willing to do the work.

Cheers.

[2018-01-30 08:51] pedrobaeza commented on #343
Please say which ones and then people can email you if interested.

[2018-01-31 01:49] conroyke56 opened #372 "V10 Manual Quant Assignment - Functionality Issues"
I have a couple of issues I have noticed whilst testing this module for our application. This may be me going through the process wrong.

Items in stock
create transfer out
enter product and QTY
Mark as to do
reserve stock

quants automatically assigned

new quants are automatically created.
if we adjust the selected quants (for example wrong lot was selected) the newly created quants remain.

Is

[2018-01-31 11:55] conroyke56 opened #373 "[10.0] manual quant assignment stock traceability"
Anyone have this same issue when using quant manual assignment:
Reserving stock with manual assign installed creates new quant for the same lot number etc.
when checking traceability, because new quant is created, you cannot trace movements against the quants.

[2018-01-31 12:13] pedrobaeza commented on #373
That's not true. It doesn't create new quant, but split previous one if you reserved some partial quantity, but quant history/traceability is preserved.

[2018-01-31 12:13] #373 closed, assigned to nobody

[2018-01-31 19:42] conroyke56 commented on #373
But it doesn’t reverse if you change the selected quant before validation. Or if you later cancel the transfer.
The split remains.

Also, is it true that you have to reserve the stock before manual quant option appears?

[2018-01-31 21:05] pedrobaeza commented on #373
Yeah, but that's not a problem of the module, but Odoo design. In v11 it has been changed.

[2018-01-31 22:34] conroyke56 commented on #373
for the reserve stock? yes.
But the quant split still exists.
So every order I create, a split is created, but if I change the automatically selected quant, the split does not reverse.
Is this expected?

[2018-01-31 22:35] pedrobaeza commented on #373
Yes

[2018-02-07 12:34] fanha99 commented on #372
hi @conroyke56:
by default, the odoo is not merge the quants when you "unreserved".
this module is just call the "unreserved" before assign the other.

to merge the quants, you can install https://github.com/OCA/stock-logistics-warehouse/tree/10.0/stock_quant_merge.
that module will auto merge when you press unreserved on the delivery order.

it is better to unreserved before manual assign the oth

[2018-02-07 12:35] #372 closed, assigned to nobody

[2018-02-07 12:39] fanha99 commented on #269
hi @ccandito
could you please give more detail as: which version of odoo are you using, which module are you installed.
regard.

[2018-02-07 13:10] ccandito commented on #269
Dear Fanha,
I've implemented a new version 10 and the issue has not been occurred anymore.
thanks
claudio candito

[2018-02-07 13:10] #269 closed, assigned to nobody

[2018-02-13 09:49] asaunier commented on #343
@yvaucher Please tag me for modules stock_putaway_product and stock_orderpoint_uom

[2018-02-21 23:14] edser-pcg opened #383 "[stock_available][10.0] Module doesn't work"
After installing the stock_available module it shows two new buttons within the product view (Available and Promise), however they don't show any real information.

The itention of installing this module was to have the available quantities of products that can be manufactured because all the BoM components currently have stock.

[2018-03-10 22:20] RCIclark opened #390 "Is anyone working on stock_mts_mto_rule for Version 11?"
Greetings,

I'm new to Odoo and am looking for module stock_mts_mto_rule for Version 11.  Is anyone working on this at this time? I know that v11 is a different setup than v10, but the basic need is still there.  I am looking to make to order but need to pull from stock first.  Any feedback is appreciated.  I am willing to help pay for the update.  Thanks!

[2018-03-11 04:02] pedrobaeza commented on #390
No one has said anything about this. There's a migration for coordinating migration efforts: #343

[2018-03-11 04:02] #390 closed, assigned to nobody

[2018-03-11 14:34] RCIclark commented on #390
okay, thanks.  Sorry, I'm new to this.

[2018-03-11 14:38] RCIclark commented on #343
Hello,
I'd be willing to pay towards someone updating the stock_mts_mto_rule to version 11.  Any help is greatly appreciated!

[2018-04-26 09:59] infospa opened #427 "[10CE] module stock_put_away_product"
Hi, I have this problem, the module is perfect on the go, but I have a problem when I use the internal shift.

When I create an internal move I select the source localization zone and the destination zone - I control the reserve - the module changes the destination with the destination of the "returned" module at this point I have to return the destination otherwise the displacement does not move

[2018-04-26 10:07] rousseldenis commented on #427
@infospa Indeed, it is a little bit confusing.

Can you try to explain step by step and explain what do you mean by 'returned' module?

[2018-04-26 13:33] infospa commented on #427
Ok Scuse me!
Internal move:
![internal1](https://user-images.githubusercontent.com/38753131/39307582-8adcd3ce-4963-11e8-9c50-5307c0c1c969.PNG)

Reserve

![internal2](https://user-images.githubusercontent.com/38753131/39307831-34b60d84-4964-11e8-847b-ab439ad722b3.PNG)

If I add more products all are changed with the rules of the form

![internal3](https://user-images.githubusercontent.com/38753131/

[2018-04-27 09:25] infospa commented on #427
Hi
Do you have news for me?

[2018-04-27 11:14] pedrobaeza commented on #427
@infospa this help is voluntary and free, so you can't demand more from the contributors. Just wait for an answer, or pay for it to the contributor you consider for getting done.

[2018-04-27 12:13] infospa commented on #427
I certainly do not want to force anyone I was just asking. ask for is reasonable answer is courtesy.
Thank you! and excuse me

[2018-05-02 16:48] max3903 opened #430 "stock_orderpoint_purchase_link"
https://github.com/Eficent/ddmrp/pull/60

# Stock Order Point Purchase Link

This module allows to link the stock order point and the generated PO line.

# Usage

* Create a MTS purchased product with a reordering rule
* Run the scheduler
* Check the new PO line is linked to the reordering rule

[2018-05-02 17:55] JordiBForgeFlow commented on #430
Good! I'll check asap

On Wed, May 2, 2018, 6:48 PM Maxime Chambreuil <notifications@github.com>
wrote:

[2018-05-02 18:04] max3903 commented on #430
@bodedra should have something for us tomorrow. Meanwhile @jbeficent can you help us here:
https://github.com/Eficent/stock-rma/pull/30 and there:
https://github.com/Eficent/stock-rma/pull/31

[2018-05-04 13:10] bodedra commented on #430
We are ready to go.

CC @max3903 @jbeficent

[2018-05-07 07:56] rousseldenis commented on #383
@edsersolis This module is the base for other ones that can fit your requirements (all 'stock_available_...' modules). I think about stock_available_immediately. Is that ok for you ?

[2018-05-07 08:04] rousseldenis commented on #315
@bealdav Closing?

[2018-05-07 09:20] rousseldenis commented on #427
@infospa Ok, I see. Reproduced on runbot.

I will look into it when I have some time to work on it.

[2018-05-07 10:35] #315 closed, assigned to nobody

[2018-05-07 14:16] infospa commented on #427
Ok Thank you!

[2018-05-08 09:11] rousseldenis commented on #427
@infospa This is a problem in Odoo.

I did a PR to fix that. I think you can take it and let me know if that solves your problem.

https://github.com/odoo/odoo/pull/24620

[2018-05-08 13:34] infospa commented on #427
It's ok for the internal move but when I create a sales order an error when confirm order

Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/site-packages/odoo/http.py", line 677, in dispatch
    result = self._call_f

[2018-05-08 20:35] rousseldenis commented on #427
@infospa I think I fixed it

[2018-05-08 20:36] rousseldenis commented on #345
@blu777 So, solved ?

[2018-05-08 20:39] rousseldenis commented on #338
@BetaUliansyah It's not recommended to do so.

Maybe, can you add a llittle description of your issue and environment? How many product lines do you have, do you have other OCA modules installed, ... ?

[2018-05-09 01:00] ghost commented on #343
Hello,
I'm interested in having the stock_available_mrp module upgraded to work with version 11. I'd be happy to pay for it to be done ASAP! Thanks

[2018-05-09 07:21] pedrobaeza commented on #343
There's already a migration in #428

[2018-05-09 13:15] infospa commented on #427
Ok yes you have fixed.

Unfortunately, the destination location changes automatically again with the Put Away Locations
I have a structure
WH
     STOCK
          FLOWER
               Rack1
               Rack2
               Rack3
Put Away Strategy is in STOCK
Product1 is in Rack1
If i move Product1 in FLOWER when I automatically reserve the destination it becomes Rack1.
If I disable Put Away St

[2018-05-09 13:29] rousseldenis commented on #427
@infospa Is your 'FLOWER' location under STOCK ?

If the answer is yes and if putaway strategy is on STOCK to go to Rack1, this is normal. That's the expected behaviour.

[2018-05-09 13:38] infospa commented on #427
Sorry but I'm doing an internal movement, I can understand that putaway strategy behaves so in arrive but if I want to move internally 30 different products I have to change 30 times the destination.
Sorry Sorry My english!

[2018-05-09 13:43] rousseldenis commented on #427
@infospa Maybe you need an explanation on how putaway strategies work. Please look at Odoo documentation. http://www.odoo.com/documentation/user/10.0/inventory/routes/strategies/putaway.html

Indeed, the original bug seems to be solved.

Do you agree to close this ?

[2018-05-09 13:47] infospa commented on #427
You close!
Thank You !

You were very kind!

[2018-05-09 14:00] #427 closed, assigned to nobody

[2018-05-11 14:46] morphace opened #433 "[stock_putaway_product] - exception in MPS"
Odoo 11: if you try to set the min/max values from the MPS with the module installed, you will receive an exception:
[code]

[2018-05-11 14:52] rousseldenis commented on #433
@asaunier Can you check this ?

I don't think you can rely on this https://github.com/OCA/stock-logistics-warehouse/blob/ed474f2cc25a76d424f93b77de057dd40d95c69d/stock_putaway_product/models/product.py#L42

You cannot be sure in which order views are loaded I think

[2018-05-11 14:57] rousseldenis commented on #433
@morphace What do you mean by MPS ?
In stack trace I don't see product, what form do you modify ?

[2018-05-11 15:26] morphace commented on #433
@rousseldenis => the Master Production Schedule - only available in the EE. Should I add a video?

[2018-05-11 15:32] morphace commented on #433
@rousseldenis See screenshots => when you click "set target" a form should come up, but you get an exception instead...
![screenshot-localhost-8069-2018 05 11-17-31-17](https://user-images.githubusercontent.com/3398961/39932746-411ecc58-5541-11e8-96bd-2baad4b84263.png)
![screenshot-localhost-8069-2018 05 11-17-31-54](https://user-images.githubusercontent.com/3398961/39932753-43e434fa-5541-11e8-875

[2018-05-11 15:45] rousseldenis commented on #433
@morphace No, that's ok

@asaunier This is confirmed.

I think in code, you have to ensure on which form you are.

[2018-05-12 06:47] rousseldenis commented on #368
@ccandito Can you please give us some clues about your environment?

I see a dependency on 'web_widget_x2many_2d_matrix' module.

Is it available on your system ?

I've just tested it on OCA runbot and it's working fine.

[2018-05-12 06:59] rousseldenis commented on #344
@cyp-opennet Could you please test it on runbot and give us stack trace if it raises?

I've just tested it and no error. Maybe you configured something different?

[2018-05-12 07:04] rousseldenis commented on #298
@flotho See https://github.com/OCA/stock-logistics-warehouse/pull/155. It has been moved.

I close this. Please feel free to make another issue if not resolved.

[2018-05-12 07:04] #298 closed, assigned to nobody

[2018-05-12 07:05] rousseldenis commented on #289
@ccandito Ok for you?

[2018-05-12 07:07] rousseldenis commented on #218
@sdalexander @alyngsoe Fixed ?

[2018-05-12 07:29] ccandito commented on #289
yes, please
I'm closing it
I've tested it again
Thanks a lot
claudio

[2018-05-12 07:29] #289 closed, assigned to nobody

[2018-05-12 07:35] ccandito commented on #368
Dear Denis,
yes it is.
I've tested it again and reported below the last piece of log before the system dump
thanks in advance
claudio

2018-05-12 07:31:24,473 5432 INFO SANDBOX odoo.sql_db: bad query:  SELECT "stock_demand_estimate_sheet_line"."write_uid" as "write_uid","stock_demand_estimate_sheet_line"."write_date" as "write_date","stock_demand_estimate_sheet_line"."value_x" as "value_x","stock_

[2018-05-14 12:28] asaunier commented on #433
@rousseldenis I have created a PR for this at https://github.com/OCA/stock-logistics-warehouse/pull/434

[2018-05-16 09:09] pedrobaeza commented on #433
PR merged, so I close.

[2018-05-16 09:09] #433 closed, assigned to nobody

[2018-05-17 08:59] alyngsoe commented on #218
@rousseldenis No, this was an issue for a version8. The customer ended up with creating re-ordering rules instead to push MO's. So we did not try the fix.

[2018-05-31 11:23] eversatis opened #439 "stock_orderpoint_manual_procurement Procure Recommendation sortable"
Can you make the Procure Recommendation quantities sortable on list view? It is also not filterable like filtering quantity over 0. If I have many orderpoints, I will not know which ones trigged the procurement without quantity 0. If this is sortable, I can quickly click it as descending sort and select the ones need procurement. My Run Scheduler do not quite work well, so I would like to use this

[2018-05-31 13:28] ccandito opened #441 "stock_inventory_revaluation - version 10.0"
Deat All,
We've created a new product code with perpetual inventory valuation method and standard price as costing method.
we haven't been able to use the "Stock Inventory Revaluation" module for the following reasons:
1) we've tried to update price from product master data or inventory revaluation and the following error occurred: Cannot do an inventory value change if the quantity available for

[2018-06-07 16:17] ghost commented on #343
we plan on migration partner_location_auto_create
@pedrobaeza I want to add an installation hook that create locations for existing partners. Is this a feature that OCA also would like?

[2018-06-07 16:20] pedrobaeza commented on #343
@BT-kaberer I would say yes, but it should be the PSC / users of that addon who have to judge. You can propose the migration or even the hook and see what reviewers says. Other option for not speeding down the installation time is to put a button on config for doing that job, so it's optional to click on it and the installations doesn't delay.

[2018-06-21 03:21] digitalliuzg opened #449 "global name 'mean' is not defined for version 10.0"
stock_cycle_count\models\stock_location.py", line 32, in _compute_loc_accuracy
    rec.loc_accuracy = mean(
NameError: global name 'mean' is not defined

[2018-06-21 07:16] pedrobaeza commented on #449
@lreficent can you please check?

[2018-06-21 14:42] LoisRForgeFlow commented on #449
@digitalliuzg `mean` is a method from `numpy` libray. Do you have it installed? If not please run `pip install numpy`.

@pedrobaeza it is specified in the [manifest](https://github.com/OCA/stock-logistics-warehouse/blob/10.0/stock_cycle_count/__manifest__.py#L21), should I say it in the README installation section as well?

[2018-06-21 16:11] pedrobaeza commented on #449
It would be good to have it on the README, but my doubt is how can he was able to install the module then. Can it be that there's a numpy version where this method is not present?

[2018-06-22 00:48] digitalliuzg commented on #449
![image](https://user-images.githubusercontent.com/11321237/41752260-fc63191a-75f8-11e8-8c85-ec83490c19b9.png)

[2018-06-22 13:32] LoisRForgeFlow commented on #449
@digitalliuzg could you run (with the same python environment you are using for odoo) the following sentences and check that the result is the same:
[code]
If  you get an error please paste it here.

[2018-06-26 00:46] max3903 commented on #430
Implemented in #435

[2018-06-26 00:46] #430 closed, assigned to max3903

[2018-06-28 09:09] digitalliuzg commented on #449
![image](https://user-images.githubusercontent.com/11321237/42024950-f7c7f586-7af5-11e8-93d6-88ca8275b51d.png)

[2018-06-28 09:09] digitalliuzg commented on #449
![image](https://user-images.githubusercontent.com/11321237/42024976-088232a6-7af6-11e8-9413-29b5e6a5abb7.png)

[2018-06-28 09:10] digitalliuzg commented on #449
![image](https://user-images.githubusercontent.com/11321237/42025001-1a8c2272-7af6-11e8-9359-cc77ba7189ae.png)

[2018-06-29 00:39] digitalliuzg commented on #449
![image](https://user-images.githubusercontent.com/11321237/42067283-fb43cbae-7b77-11e8-8880-c2d15ba94fad.png)

[2018-06-29 00:40] digitalliuzg commented on #449
![image](https://user-images.githubusercontent.com/11321237/42067304-12e29f10-7b78-11e8-80c2-c1139df1eb7d.png)

[2018-06-29 00:45] digitalliuzg commented on #449
![image](https://user-images.githubusercontent.com/11321237/42067420-b97b77ac-7b78-11e8-8039-49acae2a4110.png)

[2018-06-29 00:47] digitalliuzg commented on #449
![image](https://user-images.githubusercontent.com/11321237/42067469-fb6bcaae-7b78-11e8-9a2a-421a66cba2be.png)

[2018-06-29 00:56] digitalliuzg commented on #449
![image](https://user-images.githubusercontent.com/11321237/42067732-58dad4a4-7b7a-11e8-9ef3-5ff59c031424.png)

[2018-06-29 01:09] digitalliuzg commented on #449
![image](https://user-images.githubusercontent.com/11321237/42068017-15b8ac44-7b7c-11e8-8fd1-7d0dbbc641e0.png)

[2018-06-29 01:17] digitalliuzg commented on #449
![image](https://user-images.githubusercontent.com/11321237/42068220-4dd20a5c-7b7d-11e8-94a7-9307cf5ff8e1.png)

[2018-06-29 01:18] digitalliuzg commented on #449
![image](https://user-images.githubusercontent.com/11321237/42068235-5baba19c-7b7d-11e8-88ad-970da02e2e4a.png)

[2018-06-29 01:35] digitalliuzg opened #455 "Stock Inventory Verification Request Install Error"
File "I:\OCB\greenodoo10-OCB\odoo10\odoo\models.py", line 1081, in _validate_fields
    raise ValidationError("%s\n\n%s" % (_("Error while validating constraint"), tools.ustr(e)))
ParseError: "constraint \u68c0\u67e5\u9519\u8bef

\u5143\u7d20 '<xpath expr="//field[@name='line_ids']/tree/field[@name='discrepancy_threshold']">' \u5728\u7236\u89c6\u56fe\u4e2d\u6ca1\u6709\u627e\u5230

\u9519\u8bef\u76

[2018-06-29 07:25] pedrobaeza commented on #449
You don't have `numpy` in your deployment environment, so this is not a problem of the module. Please learn how to get accesible the library in your environment. I think the problem is Windows, that requires to put the library manually in you Odoo folder. Any way, this is out of the scope of this issue tracker, so closing.

[2018-06-29 07:25] #449 closed, assigned to nobody

[2018-06-29 07:28] pedrobaeza commented on #455
This seems a problem in your deployment. It's advisable to have your Odoo server on Linux, not on Windows. Any way, out of the scope of this issue tracker.

[2018-06-29 07:28] #455 closed, assigned to nobody

[2018-07-12 03:47] mustafatoraman commented on #343
Hi, thank you all for great work here!
Just wondering if there is any plan to migrate **sale_packaging** and **packaging_uom** modules to 11.0?
Thanks in advance!

[2018-07-12 06:19] pedrobaeza commented on #343
Nobody has expressed its interest on migrating them for now.

[2018-07-12 19:05] mustafatoraman commented on #343
Hi @pedrobaeza, thank you for letting me, sir. Looks like I'm the only one so far :) I'm looking for something like this for a long time and can't go back to V10.0 now. Thanks anyway!

[2018-07-13 10:45] mattivena opened #456 "Stock MTS+MTO Rule not using vendor minimal quantity"
Ordered quantity is not based on vendor minimal that is set on the product form.
Ordered quantity should be: vendor minimal quantity + the needed amount.
The basic MTO rule in odoo works this way.
Tested on odoo vr.10
Thank you all for your efforts!

[2018-07-14 13:52] fanha99 commented on #343
@mustafatoraman : could you please tell me the use case of those 2 modules? there are not much info about how to use them.

[2018-07-15 14:16] mustafatoraman commented on #343
@fanha99, simply they glue UoM and Packaging and allows you to sell products by their package configuration and show packaging as UoM in invoice lines. We sell pool mosaic tiles and each item boxed in different quantities. Instead of calculating manually, we will need something like this to speed up quote process.

Here are a few images ;
![Imgur Image](https://image.ibb.co/mWBTST/Screen_Shot_2018

[2018-07-31 07:44] rousseldenis opened #462 "Stock : MTO sale order for products with reordering rule"
Hi all,

I have a use case which can be discussed (or have been already):

- a product X stockable, with a reordering rule min 5, max 10
- Make To Order + Buy is defined on it and the MTO route is available on sale order lines
- its stock qty : 6

- I sell 3 qty with MTO but I don't confirm the Purchase Order.
- The scheduler runs
- The system considers that we are under the min stock qty as the v

[2018-08-09 01:36] ninjoan opened #465 "For some reason is not working [stock_mts_mto_rule]"
Hello  just download and test the module but dont work....

I have the follow

Product A
 [x]Buy
 [x]Make To Order + Make To Stock

With a stock of 50

-----------------------
I crease a SO for 90 units of product A
a RFQ  is create for 90 units
--------------------------

Odoo V11 do you need some log file?

[2018-08-09 05:36] pedrobaeza commented on #465
Which module? What do you expect to have?

[2018-08-09 05:56] bodedra commented on #465
@pedrobaeza It seems module will be `stock_mts_mto_rule`

@ninjoan
Can you check your configuration under company's warehouse form ?

`'Use MTO+MTS rules'` should be checked.

Afterwards, it will use stock and generate purchase order for remaining quantity.

[2018-08-09 13:12] ninjoan commented on #465
@bodedra can you share a print screen of where is
`Can you check your configuration under company's warehouse form ?

'Use MTO+MTS rules' should be checked.`

Im new in Odoo still testing..

[2018-08-09 13:32] ninjoan commented on #465
![screenshot-192 168 10 105 8069-2018-08-09-09-29-58](https://user-images.githubusercontent.com/14807878/43902048-0def9f58-9bb7-11e8-9ac2-089a670dcf05.png)

[2018-08-09 15:23] bodedra commented on #465
@ninjoan

Go to main menu Inventory > Configuration > Warehouse Management > Warehouses

Open company related warehouse. You will see following screen.

![screenshot from 2018-08-09 20 47 17](https://user-images.githubusercontent.com/14229503/43908639-1b7f675c-9c16-11e8-860e-e3d5e7d4d402.png)

[2018-08-09 21:34] ninjoan commented on #465
Ohhh got it!
Nice but for some reason the inventory said Delivery Orders > 1 To Do with Ready status but not all products are in stock.

strange.....

[2018-08-10 08:01] bodedra commented on #465
@ninjoan Sorry. I can not get your point with this information. Can you try with fresh product and do your test as per your reported issue ?

[2018-08-28 06:30] ProcessControl-JHF commented on #343
**packaging_uom** #469

[2018-09-07 20:17] djaouadi commented on #465
Hello,
For me also stock mts_mto rule is not working in "odoo 11.0" I don't know why, i did all configuration !!

[2018-09-23 08:11] abdallamhafeez opened #485 "[11.0] stock_mts_mto_rule: No procurement rule found"
Hello,
I have an issue in "stock_amts_mto_rule" when selling quantity more than onhand

Steps:
1. Flag warehouse "Use MTO+MTS rules"
2. Create a new product and mark on "Make To Order + Make To Stock" and remove any flag on other routes and add vendor
3. Update quantity on hand with 10.
4. Create a new sales order and sell 15 and confirm the order.

The message appears "No procurement rule found.

[2018-09-26 11:27] rousseldenis commented on #370
Solved by https://github.com/OCA/stock-logistics-warehouse/commit/ccef294065f9dac17947dc5db8b99ecdc09a7d8c

[2018-09-26 11:27] #370 closed, assigned to nobody

[2018-09-27 00:39] OCA-git-bot opened #487 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] account_move_line_product - By @bjeficent - #512
- [x] account_move_line_stock_info - By @bjeficent - #514
- [x] ~~packaging_uom - By @rousseldenis~~ Moved to https://github.com/OCA/product-attribute/pull/486
- [x] procurement_auto_create_group - By @mreficent - #638
- [ ] scrap_reason_code

[2018-10-01 13:11] rousseldenis commented on #343
Migrating sale_packaging

[2018-10-01 13:11] pedrobaeza commented on #343
Is it `product_secondary_unit` finally kept?

[2018-10-01 13:14] rousseldenis commented on #343
We are investigating coexistence of both

[2018-10-01 13:16] pedrobaeza commented on #343
Great, I think that at the end both cases are valid and can coexist

[2018-10-02 08:12] rousseldenis commented on #485
@abdallamhafeez Please provide the branch version you use and modules installed

[2018-10-02 14:33] abdallamhafeez commented on #485
use 11.0 and you can test it in OCA runbot

[2018-10-09 18:18] promotobillet commented on #487
Can I request the migration of stock_available_immediately from 10 to 12?

[2018-10-10 09:07] pedrobaeza commented on #487
@promotobillet Yes, of course. I write it in the main comment.

[2018-10-12 08:37] ccandito opened #497 "stock_orderpoint_generator: suggested improvement"
Dear All,
I've tested it and all seem good.
I'd suggest to filter only stockable products so only these can be included into the list.
Regards
claudio

[2018-10-12 11:09] pedrobaeza commented on #497
@ccandito you are free to add a PR with that suggestion.

[2018-10-13 06:24] ccandito commented on #497
Hi,
Please send me some more details
I've not done it before
So in the future i'll be able to do it without annoying you again
Thanks in advance
Claudio

[2018-10-13 10:52] pedrobaeza commented on #497
Well, this is something about developing. You should filter the products according that criteria.

[2018-10-15 13:34] rousseldenis commented on #185
https://github.com/OCA/manufacture/pull/191 merged

[2018-10-15 13:34] #185 closed, assigned to nobody

[2018-10-15 13:36] rousseldenis commented on #344
No answer. Closing

[2018-10-15 13:36] #344 closed, assigned to nobody

[2018-10-15 15:01] promotobillet commented on #487
@pedrobaeza Upon further review it looks like stock_available_immediately may no longer be needed, as a setting in stock_available was added in v11 to be able to Exclude incoming goods & Include the production potential in the available to promise calculation.  Also stock_available seems to be working in v12 except when enabling the "Exclude incoming goods" setting causes an error: "File "/odoo/cu

[2018-11-08 15:25] Frenky007 opened #505 "[11.0] stock_mts_mto_rule: MTO is not working"
MTS is working very fine but since I have product with 0 amount in the stock no Purchase order is done.
I can avoided with reordering rules but in this case I am loosing the main source document in the PO and is mentioned there OP means reordering number of the product.
any ideas?

[2018-11-08 15:27] pedrobaeza commented on #505
Is this something about a module in this repository?

[2018-11-08 16:08] umiphos commented on #505
@Frenky007 the module has a bug because it does not have in consideration the buy process for some materials, but for direct Sale Order or Manufacture Order for an item with MTS+MTO, it works fine for the listed items, but, if you do:

- Product with materials that have MTS+MTO

Let's say that you want the materials to be picked from stock, then it will not work. It has a deep problem within odoo

[2018-11-08 16:14] Frenky007 commented on #505
@umiphos Okay... please let me us know if there will be some new step forward Once again thanks for information!

[2018-11-08 16:27] umiphos commented on #505
@Frenky007 until we get a new idea, we are leaving this fix to that oca module as it is(un merged), our fix  proposes that the MRP decision taking MTS or MTO, takes in count the routes that the MTS+MTO module adds, you can always try that on your own module(like we've done) until this fix is merged.

NOTE: If you apply that patch in your module, the MTS+MTO module will act for materials in MRP as

[2018-11-08 17:05] Frenky007 commented on #505
@umiphos thank you very much! after using the MRP MTO with Stock module it is working exactly as we wish! I am very appreciate your support

[2018-11-08 17:08] umiphos commented on #505
@Frenky007 glad to help
@pedrobaeza this is a real bug in the **stock_mts_mto_rule** module, don't close this issue until we/someone fix it, please

[2018-11-08 20:56] moylop260 commented on #505
What about creates a PR to odoo to fix support multi-rules?

[2018-11-12 08:53] eqrp opened #509 "stock_mts_route + mrp_mto_with_stock and BOM procurement"
Hi at all,

First: We installed stock_mts_route and mrp_mto_with_stock

We have the following problem. We have a motherproduct 'Test Motherproduct' (Route: 'Manufacture' and 'Make To Order + Make To Stock').

![screenshot 3](https://user-images.githubusercontent.com/15906250/48336491-aee08a00-e660-11e8-9d56-01ca7eda687f.png)

This product has a bill of material with one product called 'Child Produ

[2018-11-13 21:34] umiphos commented on #509
```How can we manage it that Odoo creates only a purchase order with the required quantity of 'Child Product' (15.0) ?```

The current answer is, you can't right now, MTS+MTO may support the split(buy/stock) but Odoo and MRP by itself doesn't.

We have an effort in https://github.com/OCA/stock-logistics-warehouse/pull/500, but currently haven't fixed the whole problem, just fixed partially in MRP,

[2018-12-04 22:19] max3903 opened #515 "stock_picking_backorder_setting"
Dependency: stock
License: AGPL-3

# Module description
When processing a partial transfer, Odoo Inventory App always asks if a back-order should be created or not. Some organizations have a standard policy to manage back-orders.

This module allows you to choose between the following options to set your back-order management policy:
* Always create back-orders
* Never create back-orders
* Ask if

[2018-12-04 22:21] pedrobaeza commented on #515
Well explained feature and interesting to be added. I think you can implement it using a context variable that allows to bypass that check. About the module name, I would go for `stock_picking_backorder_setting`.

[2018-12-04 22:22] max3903 commented on #515
Ping @mgosai

[2018-12-05 09:59] rousseldenis commented on #515
@max3903 I'd prefer setting this option on picking type level. That's more flexible. What do you think about ?

[2018-12-05 10:01] rousseldenis commented on #515
@max3903 Arf, I knew I did something equivalent. :smile:
https://github.com/OCA/stock-logistics-workflow/tree/10.0/stock_picking_backorder_strategy

[2018-12-05 10:02] pedrobaeza commented on #515
Good idea to be at picking type level, and better if it's implemented! That one has been out of my radar.

[2018-12-05 14:08] max3903 commented on #515
Closing. We'll migrate stock_picking_backorder_strategy in https://github.com/OCA/stock-logistics-workflow.

Thank you!

[2018-12-05 14:08] #515 closed, assigned to max3903

[2018-12-29 04:29] emagdalenaC2i commented on #343
@pedrobaeza account_move_line_product - By @VRodrigo - #354 is already merged By @mreficent - #471

Please, check account_move_line_stock_info - By @mreficent - #472

Please, check packaging_uom - By @jhumfer - #469

Please, check stock_cycle_count - By @lreficent - #484

Please, add to the list stock_demand_estimate - By @mpanarin - #381 that is already migrated and merged

Please check stock_inv

[2018-12-29 10:07] rousseldenis commented on #343
Do we welcome a new bot ? @emagdalenaC2i  @pedrobaeza :smile:

[2018-12-29 12:02] pedrobaeza commented on #343
hehe @emagdalenaC2i has been very effective, but yes, this is always interesting, but the problem is to link each one to the proper module and so on. It requires the same to set something on each PR, and the problem is that people don't maintain up to date the list. @rousseldenis you are one of the main exceptions since you are PSC of these repos.

[2018-12-29 13:22] emagdalenaC2i commented on #343
@rousseldenis Actually last time I almost passed the Turing test ;-)

[2018-12-29 13:32] pedrobaeza commented on #343
I'm thinking that what we can maybe do is to have a bot that read comments. I have put the RFC in https://github.com/OCA/oca-github-bot/issues/32

[2018-12-29 14:27] rousseldenis commented on #343
I will look at all logistics repos soon!

[2019-01-10 00:23] kwoychesko commented on #343
Hello and thank you for all your organization and coding skills! Please forgive the noob question, but purchase_packaging does not appear in the list above -- does that mean it's ineligible to migrate to v11 for some reason (e.g. obsolete), or just that nobody else has expressed interest? Thanks again!

[2019-01-10 05:50] rousseldenis commented on #343
@airmdb this list was based on modules that exist in previous branch. The v10 module wasn't merged at that time. It seems that there is no PR for that module at this moment. Please feel free to do it.

[2019-01-13 05:53] asoral commented on #487
May I please request the migration of stock_mts_mto_rule to odoo 12.
Or is there any workaround for the module with the new routing structure in v12

[2019-01-13 13:11] pedrobaeza commented on #487
@asoral the migration is done on a voluntary effort. If you want to fund the migration, contact with one of the contributors of the module to see if they want to do it.

[2019-01-14 12:37] lukebranch commented on #487
Does anyone have plans to migrate stock_cycle_count, stock_inventory_discrepancy, and stock_inventory_verification_request for version 12.0? I noticed _stock_cycle_count_ was not included in the **modules to migrate** list for version 12.0 above.

I have some customers interested in the cycle count features for 12.0, but would just like to check if there are any planned migration we can contribute

[2019-01-22 13:22] AlainVanUtterbeeck opened #534 "[11.0] stock_putaway_same_location not correct for multicompany"
In a multicompany environment, company is not taken into account, so you get a location from another company (not in all cases of course).
FIX that solves the problem for me:
in models/product_putaway.py
replace lines  (50,51) and (70,71)
        if not root_location:
            root_location = self.env.ref('stock.stock_location_stock')
by
        if not root_location:
            company_user =

[2019-01-22 13:32] rousseldenis commented on #534
The fix you proposed makes sense.

Could you propose the fix by your own ?

@OCA/logistics-maintainers

[2019-01-22 14:49] AlainVanUtterbeeck commented on #534
Hello Denis,
I might find the time to do it next week, so if nothing happened on it till
then, I'll try to do it myself.

On Tue, Jan 22, 2019 at 2:32 PM Denis Roussel (ACSONE) <
notifications@github.com> wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This

[2019-01-24 09:03] ghost commented on #485
@abdallamhafeez It is not an issue in my understanding. You can re-read the description of this module, you are in the 3rd case and you need to define the method to supply the remaining qty (5 unit in your case). You need to choose buy or manufacture as a supply method

[2019-01-25 08:24] #369 closed, assigned to nobody

[2019-02-01 15:40] rousseldenis opened #539 "[11.0] stock_move_location: travis is red"
@sebalix stock_move_location is going red in tests, so 11.0 branch is in bad state:

https://travis-ci.org/OCA/stock-logistics-warehouse/jobs/487479800

[2019-02-05 10:36] sebalix commented on #539
@rousseldenis Yes I'll have a look

[2019-02-07 14:12] devang-dreambits commented on #487
Hello all,

I'm migrating stock_available module to v12 with PR #540

[2019-02-07 23:30] #539 closed, assigned to nobody

[2019-02-18 03:52] fanha99 opened #544 "runbot, couldn't confirm sale order"
hi, I'm checking the modules in this repository.
when I try to confirm a sale order, I got the error as below.

[code]

[2019-02-18 05:09] rousseldenis commented on #544
@pedrobaeza @sergio-teruel I think this is for you

[2019-02-18 08:37] pedrobaeza commented on #544
OK, I see the problem... telling my colleague for fixing it.

[2019-02-19 19:23] pedrobaeza commented on #544
Fixed in #545, so closing.

[2019-02-19 19:23] #544 closed, assigned to nobody

[2019-02-20 15:48] ghost opened #548 "Stock MTS+MTO Rule for Drop shipping and Ship from Stock -Set Up"
Hello, Thank you for your time.

I was told I can use the Stock MTS/MTO Rule to ship from stock, or drop ship items as needed.

The product type is set to- Stackable
Product routes to: buy, DS, MTS+MTO

Currently on SO Confirmation: Delivery order for in stock line items is generated.  Purchase request for  quote form is generated for out of stock items.  This is all or none, if I can't fulfill al

[2019-03-01 17:13] fdvarela opened #551 "odoo TypeError: unlink() got an unexpected keyword argument 'check'"
https://github.com/OCA/stock-logistics-warehouse/blob/23a60fbd9360cba7ab677b6ba1e4229e0baea48e/stock_inventory_revaluation/models/account_move.py#L37

Got another module passing a check=False to unlink and this module breaks the execution due to an

odoo TypeError: unlink() got an unexpected keyword argument 'check'

Not sure if this one is to blame but I patched my instance passing a check=True i

[2019-03-01 17:45] pedrobaeza commented on #551
I have fixed it directly with a59a57ca5bf9c8b520b575fa810a14fa23055ba8

[2019-03-01 17:45] #551 closed, assigned to nobody

[2019-03-16 07:46] kittiu opened #560 "Migration of multiple addons which depends each other (so, they can't pass test)"
@lreficent @jbeficent
So far, I have migrated the following addons. All of them pass test on my local machine. Then, I submit them individually, so it won't pass travis.
https://github.com/OCA/stock-logistics-warehouse/pull/550
https://github.com/OCA/stock-logistics-warehouse/pull/554
https://github.com/OCA/stock-logistics-warehouse/pull/557
https://github.com/OCA/stock-logistics-warehouse/pull/55

[2019-03-17 21:30] pedrobaeza commented on #560
There should be one that is the first for which the rest depends on. Start with that, be sure CIs pass, get it to be merged, and then continue with the rest. Meanwhile, mark the rest as WIP with a reference to which one is depending on.

[2019-03-18 05:08] kittiu commented on #560
@pedrobaeza Thank you,

[2019-03-25 13:34] jvOrsouw opened #565 "Migration of stock_mts_mto_rule V11-> V12"
I'd like to receive a quote for migration of this OCA module. My customer is a V11 EE user of this module and is considering migrating to V12.

[2019-03-25 13:37] jvOrsouw commented on #565
@florian-dacosta can you label my issue 'help wanted' or give me a quote as you're the main contributor to this module?

[2019-03-25 14:16] schickermineral opened #566 "stock_mts_mto_rule: doubled / multiplied consumed material when MO clicked "done" (V10)"
Hi everybody,
we are facing an issue using stock_mts_mto_rule leading to stock differences by multiplying [consumed materials] rows in MO
-> on click "done" in MO
-> when product to be produced had only partly available stock and BOM line product had only partly available stock

E.g.:
given [product 1] (with BOM lines [product 10] having stock 1 and [product 11] having stock 10) has stock 1 but [p

[2019-03-27 18:07] gclauwae commented on #565
We have a similar request. I have asked our developer what would be the cost for migrating it. If interested I can ask my customer to share the costs.

[2019-04-04 13:25] LoisRForgeFlow commented on #560
Closing as most of these PRs are merged and the process is clearer for @kittiu

[2019-04-04 13:25] #560 closed, assigned to nobody

[2019-04-11 06:52] michaelsallaberger opened #572 "MTS+MTO - BOM in BOM isue"
Hy Guys,

I want to produce a product according to a BOM and this BOM contains a BOM of another product.

If I choose MTO (only) for both products, and sell the product which is on the top of the BOMs,
the system generates a MO for each product and the deadline start will be choosen according to the manufacturing lead time of each product. (This is 100% correct)

If I choose MTS+MTO for both produ

[2019-04-18 16:27] jlholzbach opened #578 "Stock Cycle Count for Version 12"
I am trying to add Stock Cycle Count to version 12 of Odoo Community, because it would be helpful for my organization, but am having some compatibility issues since the most recent version is for Odoo 11. Is there update on it being updated for 12?

Most of my problems seem to with fields not existing, but I am also getting some errors like this

raise ValidationError(_('Invalid view %s definition

[2019-04-19 07:44] jvOrsouw commented on #565
@gclauwae I've also received a quote from our developer. Can we compare estimates & prices?

[2019-04-19 08:12] gclauwae commented on #565
@jvOrsouw Can you send me your estimates to see if we can match it? gunther@beopen.be

[2019-04-22 09:51] abdallamhafeez commented on #487
Hello all,

I want to know is "stock_move_location" will planned to upgrade to v12 ?

[2019-04-22 09:53] pedrobaeza commented on #487
@abdallamhafeez yes if someone migrates it. It's not in the list because it's auto-generated when the branch is created, and that module wasn't in previous branch when that happened.

[2019-04-25 17:19] tbaden commented on #487
stock_warehouse_orderpoint_stock_info merged already, but not checked yet

[2019-04-26 17:38] rousseldenis commented on #578
@lreficent @jbeficent

[2019-04-26 18:06] rousseldenis commented on #566
@florian-dacosta

It's a recurrent problem. We should maybe do a document to gather facts and helps a possible refactoring.

What do you think ?

[2019-04-27 11:51] rousseldenis commented on #497
@ccandito Any news about this ?

[2019-04-27 13:55] rousseldenis commented on #439
@jbeficent @lreficent

[2019-04-27 14:10] rousseldenis commented on #368
It seems that this is not linked to module but the manner you installed it

[2019-04-27 14:10] #368 closed, assigned to nobody

[2019-04-27 14:54] rousseldenis commented on #383
Closing this old one

[2019-04-27 14:54] #383 closed, assigned to nobody

[2019-04-27 15:07] rousseldenis commented on #355
@jbeficent @lreficent

[2019-04-28 10:53] ccandito opened #582 "lead times are not taken into account in reorder point calculation"
version 12 communuty
Dear All,
a PO with delivery date far away in the future is taken into account in reorder point calculation. This can be a stockout situation.
in my opinion only PO lines with delivery date within today + lead_days in stock reorder rule + delay in product.supplierinfo should be considered in net requirement calculation.
Thanks in advance
Claudio Candito

[2019-04-28 16:55] florian-dacosta commented on #566
Hi @rousseldenis
About this particular issue, I do not really understand the case, and I also dot not really see how we could confirm it comes from the stock_mts_mto_rule (I do not think it does).

Anyway, I think there are 2 main issues :

1) Missunderstanding on what is covered by the module.
This module manage the case of choosing make to stock or make to order method when facing a procurement.

[2019-04-29 15:43] LoisRForgeFlow commented on #439
That's what we actually did for ddmrp, we made the field stored (hence sortable and searchable). However, I'm not sure this is what the default module should do, we'd like to keep it simple and changing that now will likely impact many instances already using this module. You can propose a extension (new module depending on stock_orderpoint_manual_procurement) that makes the recommended qty stored

[2019-04-29 15:43] #439 closed, assigned to nobody

[2019-04-29 15:47] LoisRForgeFlow commented on #355
@travish2 Feel free to open a new PR proposing a fix and adding test cases to avoid future regressions.

[2019-04-29 15:47] #355 closed, assigned to nobody

[2019-05-10 06:59] rousseldenis commented on #565
This is being done in #586

[2019-05-10 14:57] max3903 opened #587 "stock_request: Support routes"
We use `stock_request` to allow employees of other departments to request materials in a location, i.e. FSM User or Helpdesk User may want a product to be returned or shipped to a customer.

As the material can take different routes:
* shipped from the warehouse with a carrier (Delivery Order)
* loaded on a truck and delivered by the company to the customer

we would like to:
- [ ] add a boolean f

[2019-05-10 15:01] max3903 commented on #587
Ping @jbeficent @etobella @aisopuro @BT-rmartin

[2019-05-10 15:18] JordiBForgeFlow commented on #587
@max3903 but the route_id is already in the stock.request
https://github.com/OCA/stock-logistics-warehouse/blob/12.0/stock_request/models/stock_request.py#L99
https://github.com/OCA/stock-logistics-warehouse/blob/12.0/stock_request/views/stock_request_views.xml#L16

It will display all the rules that are available to that location.

Isn't that enough?

[2019-05-10 15:29] max3903 commented on #587
@jbeficent Oh true, thanks.

BTW, the dropdown list is empty:
http://3367889-12-0-6720ef.runbot1-2.odoo-community.org/web?debug#id=1&action=329&model=stock.request&view_type=form&menu_id=195

[2019-05-10 15:30] JordiBForgeFlow commented on #587
@max3903 I just accessed and it's not empty. Have you changed it?

![image](https://user-images.githubusercontent.com/7683926/57538694-42adbd00-7349-11e9-9d4a-7fb745a7c036.png)

[2019-05-10 15:31] max3903 commented on #587
@jbeficent Yes, I changed the location.

If you create a new request with the Stock location, there is no choice...

[2019-05-10 15:37] JordiBForgeFlow commented on #587
@max3903 Because there's no valid route applicable to WH/Stock.

I have just created a route WH2->WH. Check SR/00003

In the product I defined what routes should be used:
![image](https://user-images.githubusercontent.com/7683926/57539177-3118e500-734a-11e9-9d21-047b9850f017.png)

[2019-05-10 16:35] max3903 commented on #587
Thanks!
:+1:

[2019-05-10 16:35] #587 closed, assigned to nobody

[2019-05-10 17:11] max3903 opened #589 "[ADD] stock_request_picking_type"
This module adds stock requests within the Inventory app with a new picking type.

# Usage

* Go to Inventory
* Click on the Stock Requests tile to process stock requests

# Technical Specification

On stock.picking.type
- [x] Add an option "Stock Request" to open `stock.request` similar to "Manufacturing" opening `mrp.production`
- [x] Add an operation type for the main warehouse with "Stock Requ

[2019-05-10 17:12] max3903 commented on #589
Ping @jbeficent @etobella @aisopuro @BT-rmartin @osi-scampbell

[2019-05-10 19:07] max3903 commented on #589
Ping @patrickrwilson

[2019-05-10 23:19] #589 closed, assigned to max3903

[2019-05-15 09:59] rousseldenis commented on #566
@schickermineral Could you look at @florian-dacosta comments and give us feedback?

[2019-05-15 14:10] schickermineral commented on #566
Hi @florian-dacosta,

first of all thank you very much for your feedback and clarifications which is highly appreciated.

This module manage the case of choosing make to stock or make to order method when facing a procurement. (Usually when confirming a sale order). It does not cover the manufacturing part. (procure or not the raw material of a Manufacturing order) neither does it depends on mrp m

[2019-05-15 14:35] florian-dacosta commented on #566
Actually, they can work together. They just use different mechanisms and the configuration on the product is different for a product used as raw material for production and a product that is sold for instance. (first one managed by mrp_mto_with_stock and second one managed by stock_mts_mto_rule)

But anyway, you should not have a problem of production orders consuming too much raw material with bo

[2019-05-15 14:36] florian-dacosta commented on #572
@michaelsallaberger You should take a look at this module https://github.com/OCA/manufacture/tree/11.0/mrp_mto_with_stock and test it, it should meet your need.

[2019-05-17 07:19] schickermineral commented on #566
@florian-dacosta
I'd give it a try when I find an appropriate runbot instance.
Can you give a hint regarding where to reproduce, because we're not yet experienced using runbot especially how to install OCA modules in such instance.
Thanks!

[2019-05-20 10:01] etobella opened #594 "Stock_move_location: Disables edition of lots [11.0]"
When this module is installed, you cannot edit lots anymore on stock moves:
The problem is related to https://github.com/OCA/stock-logistics-warehouse/commit/79a131deb8991dacab372204c7ec114a6dd6041e#diff-859021951c42400319db38057cdb07bfR17

Now, location_move is disabled for all other options and you cannot edit anymore.
@mpanarin @sebalix Why did you add this?

[2019-05-20 15:06] HviorForgeFlow commented on #487
This module has already been merged on:
stock_orderpoint_uom - By @kittiu - https://github.com/OCA/stock-logistics-warehouse/pull/568

[2019-05-20 20:44] max3903 opened #595 "[IMP] stock_request: Add a "Submitted" state"
# Requirement

Users from other departments than the Warehouse uses stock requests to specify where products needs to be and when. This can be done from a project task, help desk ticket or field service order. Users may make modifications before the requests get processed by the warehouse team.

# Current module

The current module provides the following states: Draft, In Progress, Done, Cancelled

[2019-05-20 20:45] max3903 commented on #595
Ping @jbeficent @patrickrwilson @wolfhall

[2019-05-21 05:52] etobella commented on #595
It's a good option, but could you add a parameter in order to allow this new state? This way we can maintain the old functionality with the new one

[2019-05-21 08:08] rousseldenis commented on #595
@max3903 And what about https://github.com/OCA/stock-logistics-warehouse/tree/11.0/stock_request_tier_validation

That is more compliant to your business flow requirement no ?

[2019-05-21 14:21] max3903 commented on #595
@rousseldenis How would you configure it using stock_request_tier_validation? What happens when the user create the stock request?

We would like to hide the draft records to the Warehouse users.

[2019-05-21 14:29] rousseldenis commented on #595
Ok, maybe misunderstood your requirements.

Do your flow first create request, secondly review request and then submit to warehouse users ?

Is that correct?

[2019-05-21 14:36] max3903 commented on #595
Internal User:
* create stock requests
* come back later and modify it.
* when ready, submit to Warehouse user

Warehouse User:
* Review submitted requests
* Make modifications
* Confirm

There is no review or validation step.

[2019-05-21 14:40] JordiBForgeFlow commented on #595
I would add it as a new state, and through the settings decide if you want to use it.

Something like:
[ ] Allow user to submit stock requests.

In the line that @etobella suggests.

[2019-05-22 16:38] karlggest opened #596 "Import strategy using stock_putaway_product (help)"
Hi!

I'm trying your module stock_putaway_product my own deployment using Odoo 11.0

Using thist strategy I can associate one product to one fixed location, and it's fine and it's what I need. But I have hundreds of products and a lot of different locations. I try to import a list of products with strategy/location info but it causes errors in my product list (creating some type of product view, n

[2019-05-24 14:11] max3903 commented on #595
:+1: Thank you. We will work on it. Please expect the pull request to review next week.

[2019-05-27 07:34] rousseldenis commented on #487
Migrating packaging_uom from 11 to 12

[2019-05-28 09:44] rousseldenis opened #604 "[RFC] Product packaging: Split modules and migrate to good repo"
The packaging uom management and dependent modules are split into :

* [x] packaging_uom : https://github.com/OCA/product-attribute/pull/486
* [ ] sale_packaging : https://github.com/OCA/sale-workflow/pull/858
* [x] stock_packaging (New) : https://github.com/OCA/stock-logistics-warehouse/pull/603
* [ ] purchase_packaging: https://github.com/OCA/purchase-workflow/pull/687
* [ ] purchase_stock_packa

[2019-05-28 15:37] pedrobaeza commented on #604
Do you want a new repo?

[2019-05-28 15:41] rousseldenis commented on #604
No, I'm using existing ones.

I've done this to warn users on what I'm doing.

[2019-05-30 12:14] andres-pcg commented on #604
I have migrated the sale_packaging one, maybe you would like to take a look of it. I’ve been trying to do same with packaging_oum but the packaging view on the product.template model has been giving me a hard time 😅

[2019-05-31 06:39] rousseldenis commented on #604
@andrp92 I've done technical migration. I haven't done functional tests yet. I'll do it asap.

[2019-06-01 18:41] andres-pcg commented on #604
@rousseldenis i've tested it and found out that the packaging_uom's view is not working properly. On the product.template model, Odoo has added groups on the packaging view, therefore the v11 view does not longer work nor the context that we are passing to it. I resolved the visual part of it by adding an xpath to the view **product_packaging_view_form_inherit_packaging_uom**,

`<xpath expr="//gro

[2019-06-01 22:46] emagdalenaC2i commented on #343
Please, check stock_change_qty_reason - By @andreasdsp - #417 that is already merged

[2019-06-01 22:52] emagdalenaC2i commented on #487
Please, check stock_change_qty_reason - By @hveficent - #602 that is already merged

stock_orderpoint_uom - By @kittiu - #559 is closed and superseed in #568 that is already merged

[2019-06-02 06:05] rousseldenis commented on #604
Yes, please

[2019-06-02 10:26] rousseldenis commented on #604
@andrp92 I've just modified views and it seems more correct. Can you test ?

[2019-06-02 18:09] andres-pcg commented on #604
@rousseldenis hey, thanks for your quick response. I tested it but still acting up. I blame odoo huge changes for that 😅. Will try to find out what are we missing. But uom_id field is still coming up empty

[2019-06-05 16:55] ghost commented on #487
I request to migrate stock_available_global - https://github.com/OCA/stock-logistics-warehouse/pull/610

[2019-06-05 17:11] pedrobaeza commented on #487
Why having 2 GitHub logins, @kittiu-ecosoft ?

[2019-06-05 17:30] ghost commented on #487
I want to do the same for old and new staff in our company. People will know who can contact in case they left. Also easier for me to remember.
Do you have any concern?

[2019-06-05 17:35] pedrobaeza commented on #487
Well, I don't think it's the best approach if you have started here with another GitHub login. You confuse people, not knowing who to ping. As you have the ability to add multiple emails linked to your GitHub account, and also to change the main contact one, I think it's better to just provide a corporate email and do the commits with it. If the employee goes away from your company, he/she only ne

[2019-06-05 17:41] ghost commented on #487
Thank you Pedro for your comment. I will surely think and discuss with our team.

[2019-06-05 18:54] rousseldenis commented on #487
Yes. Usually, got  one github account and if changing company, just switch email on account and that's all.

[2019-06-11 15:47] hzh0292 opened #613 "Please help to migrate "stock_reserve_sale" to v12."
I tried to migrate "stock_reserve_sale"  to V12 but failed.
And this is a useful app.
I asked that wherther OCA have the plan to migrate it to v12 or give me some advise to do this work.
Thanks very much!

[2019-06-11 15:49] pedrobaeza commented on #613
In which things you have failed? You can ask for assistance in an specific problem, but not this general request.

[2019-06-11 15:49] #613 closed, assigned to nobody

[2019-06-15 05:05] hzh0292 opened #619 "Migration of stock_reserve_sale to v12 but found bugs"
[Odoo module stock_reserve_sale migration to verssion 12.0](https://github.com/hzh0292/stock-logistics-warehouse)

1. The basic module stock_reserve is migrated from OCA/stock-logistics-warehouse branch 10.0.
2. The module stock_reserve_sale is migrated from OCA/stock-logistics-warehouse branch 9.0.Because the branch 10.0 of this module is unfinished yet and it was based version 8.0.
3. I replaced

[2019-06-15 05:06] hzh0292 commented on #619
Can somebody help me solve the bugs?

[2019-06-16 01:54] damendieta commented on #619
Hi, do the MR in order to have this migration there.

I'll try to install the modules and check the possible causes of the issue.

Daniel.

[2019-06-16 05:07] gchansc commented on #456
Version 11 also doesn't take Vendor minimal qty into account. Why is that?

[2019-06-16 07:59] hzh0292 commented on #619
Thanks very much.It seems that I don't know how to do the MR.

[2019-06-16 09:50] hzh0292 commented on #619
I have created a new pull request to this repo.Is it the right way to do a MR?[#620](https://github.com/OCA/stock-logistics-warehouse/pull/620)

[2019-06-16 10:12] damendieta commented on #619
Hi, I'm checking the code and I have some comments:

- stock_reserve_sale should depend on sale, as you are inheriting sale.order
- you have except_orm but it's deprecated, replace it with an exception from the new api.
- The error is happening on line 140, of stock_reserve.py
   self.mapped('move_id')._action_confirm()

After the move is confirmed, the move is unreacheable.

[2019-06-16 10:24] hzh0292 commented on #619
+ Yes,this module depend on sale,I didn't add it because the original version didn't write it.
+ The except_orm is deprecated.I will replace it with the new api.
+ I have changed the code here,the old version is ```self.mapped('move_id').action_confirm()```.Since it is so,is there any solution to solve this error?
Thank you very much!

[2019-06-16 10:28] damendieta commented on #619
Hi, I have commented on the code of the pull request.

[2019-06-16 10:36] hzh0292 commented on #619
Thanks very much.But I don't see your comment,can you tell me where is it?

[2019-06-16 10:44] damendieta commented on #619
Check the PR history, it will show up on the first screen. You didn's saw it before because I was adding a last comment, so, It wasn't available to you yet :D

Please, also check the commit history as Pedro explained to you.

Daniel.

[2019-06-16 14:01] hzh0292 commented on #487
I request to migrate stock_reserve and stock_reserve_sale. #636
And stock_reserve. #637

[2019-06-20 10:00] jgrandguillaume opened #621 "[RFC] WMS apps"
Hi,

We're working at @camptocamp on Odoo logistic projects since a while and we also have an on-going important project to replace an existing WMS. I though it might be the time to build up an OCA WMS apps.

Before proposing this, I 've been in touch with Odoo to first ask if they want to implement some of the foreseen features in the core. After some talks with them, it turns out they won't do i

[2019-06-20 10:10] rousseldenis commented on #621
Hi Joël,

Thanks for the initiative!

I will certainly participate into this as having involved too in some
different WMS implementations.

On Thu, Jun 20, 2019 at 12:00 PM Joël Grand-Guillaume <
notifications@github.com> wrote:

--
__________________________________________

*Denis Roussel**Software Engineer*
*Acsone SA, Succursale de Luxembourg*
*Tel    : **+352 20 21 10 20 19 <%2B352%2020%2021%

[2019-06-20 11:13] pedrobaeza commented on #621
Thanks for the initiative. Isn't better to split each feature in an issue for better focused discussion?

[2019-06-20 11:16] OSevangelist commented on #621
Hi @jgrandguillaume we have done such a "tremendously complex" project in the past with one of our customers, that is running stable since ~2.5 years now. Another project of ours has been stopped in the middle because it turned out that the intra logistics simulation had never taken place and the physical idea (of the goods movement) was a way lacking behind the chaoting (non-streamlined) process

[2019-06-20 11:17] OSevangelist commented on #621
@kmatthes maybe you should step here as well as you were part of the projects i just mentioned

[2019-06-20 12:29] jgrandguillaume commented on #621
Hi Pedro, Good point yes ! Thing is, I'm at an early stage, so list isn't clear yet. Will do when I feel more confident about the list ok?

[2019-06-20 12:30] pedrobaeza commented on #621
OK, but you know, the sooner, the better :smiley:

[2019-06-20 12:31] jgrandguillaume commented on #621
Yes, that exactly the challenge. I'm not pretending I'll succeed, but I'll give it a try ;)

[2019-06-20 12:40] andreampiovesana commented on #621
Good
I want to join the team
I worked for the 3d warehouse
And much more ...
https://youtu.be/Cy1IUE8Ihzo

[2019-06-21 01:11] #619 closed, assigned to nobody

[2019-06-21 01:11] hzh0292 commented on #619
Solved.

[2019-06-21 14:18] abstract-odoo commented on #621
Great.

Abstract-Technology team

[2019-06-21 16:19] ivanvashenko12 opened #624 "RFC: weighting scales integration"
We are looking for the way of direct integration with weighting scales in warehouse module.

### **The idea/ objective**
Add the way of entering data for weighted products directly from the scales by simple press of buttons.

### **Technical description for Definition of the reservation**
inventory move adjustments:

- add buttons for operating with scales:

1. print weight
2. tare scales
3. zero

[2019-06-24 11:22] kittiu commented on #487
Can I migrate **stock_putaway_method** from 11 to 12

[2019-06-24 11:31] pedrobaeza commented on #487
Does it make sense to migrate it now that putaway by product is present in core?

[2019-06-24 12:12] rousseldenis commented on #487
I agree with @pedrobaeza, but maybe some people implemented another method that override that module.

[2019-06-24 13:27] pedrobaeza commented on #487
OK, then proceed with what you think it's better, @kittiu

[2019-06-25 02:04] kittiu commented on #487
OK, I will look into it first whether we should do it. Thank you!

[2019-06-26 04:40] kittiu commented on #487
@rousseldenis as I read the code  **stock_putaway_method**, it seem to be the prerequisite for **stock_putaway_product** and **stock_putaway_same_location**. But as stock_putaway_product is now in the core, is it still useful to migrate?

Can you help decide? if doing the stock_putaway_method + stock_putaway_same_location still useful. I can continue. Otherwise, I can help on other thing :)

[2019-06-26 04:41] kittiu commented on #487
@rousseldenis what else you think it is good to do? stock_request_purchase ?

[2019-06-26 17:45] Odoolatam commented on #343
Hi,
Any plans to migrate stock_inventory_revaluation to v11?
Thanks!

[2019-06-27 10:36] kittiu commented on #487
I migrated stock_request_kanban https://github.com/OCA/stock-logistics-warehouse/pull/634

[2019-07-03 11:29] bodedra commented on #487
stock_cycle_count             https://github.com/OCA/stock-logistics-warehouse/pull/625  [Merged]

stock_inventory_discrepancy        https://github.com/OCA/stock-logistics-warehouse/pull/622  [Merged]

stock_inventory_verification_request      https://github.com/OCA/stock-logistics-warehouse/pull/630 [Merged]

@lukebranch @kittiu @ghost @emagdalenaC2i @hveficent @ageficent @aheficent  may you hel

[2019-07-05 11:01] jgrandguillaume opened #640 "[RFC][WMS] Split warehouse operations in relevant picking type"
Source : https://docs.google.com/document/d/1mct6bFFWJqW01wGFcjc-uQNEjyCxvh6Y9TuFdRhe-b0/edit#
Part of: https://github.com/OCA/wms/issues/1

**This RCF to propose a POC implementation for the following**

- A "picking zone" represents a zone where pickers will work on their related operations. They will be linked to a picking type (therefor hold a default source and destination location)
- In impo

[2019-07-05 12:53] jgrandguillaume opened #641 "[RFC][WMS] Vertical automated storage interface"
Source : https://docs.google.com/document/d/1mct6bFFWJqW01wGFcjc-uQNEjyCxvh6Y9TuFdRhe-b0/edit#
Part of: https://github.com/OCA/wms/issues/1

**This RCF to propose a POC implementation for the following**

The goal is to support Vertical Lift such as [Kardex](https://www.kardex-remstar.com/en/storage-retrieval-systems/vertical-lift-systems-en/xp250500.html) or similar systems. We'll first implement

[2019-07-09 13:27] LoisRForgeFlow commented on #578
The module has been recently migrated to v12, an should be already available.

[2019-07-09 13:27] #578 closed, assigned to nobody

[2019-07-10 09:16] warp10 opened #647 "[11.0] stock_mts_mto_rule: MRP scheduler indefinitely increases product quantity in the resupply PO at every run"
We noticed an unexpected behavior when the MRP schedule is run against a product using the MTS + MTO rules. Tests have been done on an OCA runbot 11.0 instance with the module stock_mts_mto_rule installed.

**Steps to reproduce**:
0. Configure the route MTO+MTS with a procurement.rule having action=split_procurement and group_propagation_option=propagate.
1. Create a product with quantity=0 and th

[2019-07-12 13:11] jgrandguillaume opened #654 "[RFC] Warehouse map and location attributes"
Source : https://docs.google.com/document/d/1mct6bFFWJqW01wGFcjc-uQNEjyCxvh6Y9TuFdRhe-b0/edit#
Part of: #621

**This RCF to propose a POC implementation for the following**

* Define warehouse map attributes on bin locations: corridor, shelf, height position that will compute the name for the location:
  * thus having a consistent naming within the warehouse. E.e Corridor + “.” + shelf + “.” + hei

[2019-07-18 21:36] supersexy opened #662 "Documentation / Features / Demo?"
I found this via a DDG search - is there any documentation / feature description / screenshots or does exist a related website that describes these modules, maybe with a demo install? Thanks!

[2019-07-18 21:47] rafaelbn commented on #662
Hello,

There is a lot of documentation, every single module has a Readme where explain description, configuration and usage, and YES you have a demo install for every module

You will find the information in:

- https://odoo-community.org/
- https://github.com/OCA/odoo-community.org/blob/master/website/Contribution/CONTRIBUTING.rst

Regards

[2019-07-18 21:58] supersexy commented on #662
AH, ok - you should put that info in the main readme, thanks for the quick reply!

[2019-07-18 21:58] #662 closed, assigned to nobody

[2019-07-22 21:40] max3903 opened #664 "[12.0] stock_request: losing partner_id and origin"
# Steps to reproduce

* Create a field service order with a location
* Add 2 stock requests to that field service order --> A stock request order is created with 2 lines.
* Click Submit
* Go to the submitted stock request order
* Confirm the stock request order

# Result

A delivery order is created but the partner_id and the origin are not set.

# Expected Result

A delivery order is created and

[2019-07-22 22:33] max3903 commented on #664
Ping @etobella @rousseldenis @jbeficent

[2019-07-29 13:27] samy-m-dev opened #669 "stock_available_immediately vs stock_available_unreserved"
Hello,

Odoo 10.0

What is the exact difference between **stock_available_immediately** and **stock_available_unreserved**?

I cannot find any use case where these values will be different?

Thank you!

[2019-07-29 13:42] florian-dacosta commented on #669
Hi,
The difference is that stock_available_unreserved take the stock reservation into account while stock_available_immediatly take the outgoing stock.
So you could have different value in case you do not reserve all your stock, even though you could.

One use case :
A firm that deliver its sale orders at different date depending on the customer request.
So, there is sale order planned in 2 days,

[2019-07-29 13:43] #669 closed, assigned to nobody

[2019-07-29 13:47] samy-m-dev commented on #669
@florian-dacosta Thanks a lot very clear explanation 👍

[2019-08-02 15:10] rven opened #678 "stock_sale_reserve does not take "Enable Route on Sales Order Line" into account"
[code]

[2019-08-02 15:14] pedrobaeza commented on #678
Do you do a PR then?

[2019-08-03 08:54] rven commented on #678
Difficult, there are migrations from 10 to 11 and from 10 to 12.
Where should I do the PR on?

[2019-08-04 20:02] pedrobaeza commented on #678
Uhm, I see, then you should comment in the PRs about this problem IMO.

[2019-08-06 13:33] bodedra commented on #664
@max3903 We can close these as proposed PR is merged. Ref: https://github.com/OCA/stock-logistics-warehouse/pull/665

[2019-08-06 13:35] #664 closed, assigned to max3903

[2019-08-10 16:08] infoitservit opened #682 "[11.0] stock_putaway_same_location wrong on new main warehouse"
Steps to reproduce:

1) Install stock_putaway_same_location
2) Make a purchase to ship to the actual default main warehouse and receive goods. Complete receipt on "WH/Stock".
3) Create a new warehouse, it should be your new main warehouse where all the receipts will came in.
4) On New Warehouse/Stock set putaway strategy as "last position", as per normal configuration of stock_putaway_same_locatio

[2019-08-14 17:19] pedrobaeza commented on #624
Hi @ivanvashenko12, did you get something about this?

[2019-08-16 14:45] rafaelbn commented on #604
Thanks you @rousseldenis for this work and resume

[2019-08-19 12:14] jgrandguillaume opened #685 "[RFC][WMS] Goods Reservation: Zone preference and packaging"
Source : https://docs.google.com/document/d/1mct6bFFWJqW01wGFcjc-uQNEjyCxvh6Y9TuFdRhe-b0/edit#
Part of: https://github.com/OCA/wms/issues/1

**This RCF to propose a POC implementation for the following**

# Mechanism to select warehouse zones (relates to #654) for move reservations according to rules.

Each rule must define:
* stock location (required)
* only full quantity?

The rules will be appl

[2019-08-19 12:28] pedrobaeza commented on #685
Shouldn't this be a removal strategy like FIFO, FEFO, and so on?

[2019-08-19 12:47] rousseldenis commented on #685
I think this way should be explored as strategies depend on product quant properties like lot, creation date, ... and for this purpose : quantity

[2019-08-19 15:36] pedrobaeza commented on #685
Indeed, `_get_removal_strategy_order` is not going to be enough based on that criteria. `_gather` method in stock.quant must be overridden for getting proper values. I suggest then to have a base module `stock_removal_strategy_hook` that overrides it and provide proper hook methods with the corresponding arguments for having a common ground for adding several "advanced strategies", and then mount

[2019-08-28 10:42] jgrandguillaume opened #691 "[RFC][WMS] Put away rules and ABC classification support"
Source : https://docs.google.com/document/d/1mct6bFFWJqW01wGFcjc-uQNEjyCxvh6Y9TuFdRhe-b0/edit#
Part of: https://github.com/OCA/wms/issues/1

**General putaway behavior**

- No automatic 2 steps (or more) reception, instead we’ll use a reception to input location and from there create manual internal transfers (new picking type, from input to stock)
  - Refer to the known Odoo issue for 2 or more s

[2019-08-28 11:38] jgrandguillaume commented on #640
A second round to implement a new module "stock_full_operations_info".

**Context**

As we split operations in picking type per zones, the operator loose the sight of whether is doing a full order or only a portion of it.

For this reason we need to give him back this information. This will allow him to take decisions on how to proceed the best according to the situation (e.g. if he is the only pi

[2019-08-28 11:55] jgrandguillaume commented on #685
@pedrobaeza @rousseldenis Of course not easy to explain. May be reading this might help:
- about the preparation of orders: https://docs.google.com/document/d/1mct6bFFWJqW01wGFcjc-uQNEjyCxvh6Y9TuFdRhe-b0/edit#heading=h.1r0b6qdmhl89
- about the reservation: https://docs.google.com/document/d/1mct6bFFWJqW01wGFcjc-uQNEjyCxvh6Y9TuFdRhe-b0/edit#heading=h.mgj2un5us4qb

In short, we propose to add an adv

[2019-08-28 11:58] jgrandguillaume commented on #685
How, and lastly, the rule reservation system tells you in which order you take goods in several zones, but then you always apply the "standard" removal strategy on those zones.

[2019-08-28 12:14] guewen commented on #621
As we start to have many pull requests for these addons, and they have cross-dependencies, we would like to start merging them with the `'development_status': 'Alpha',` flag. It'll be easier to review as currently we have to include PRs in other PRs (example :https://github.com/OCA/stock-logistics-warehouse/pull/683 includes https://github.com/OCA/stock-logistics-warehouse/pull/653).

I'm not aski

[2019-08-28 12:17] rousseldenis commented on #621
@guewen So, the PR's are not in draft status anymore ? Cool!

I will pass on each soon and of course we can move forward with that development status.

[2019-08-28 12:23] guewen commented on #621
I'm going to make a pass on them to ensure they have minimal readme files, the alpha development status and such (but besides this, the PRs are in a state where we could make a good demo), I wanted to ask soon enough about the development status, but you were so fast to answer... :D

[2019-08-28 12:27] rafaelbn commented on #621
Ping me please, i will review on Friday :smile:

[2019-08-28 14:41] pedrobaeza commented on #685
@jgrandguillaume I think your comments are not incompatible with my implementation suggestion. Any way, they were only some small brushstrokes over full picture, so go on with the best strategy you have in mind.

[2019-09-02 06:58] guewen commented on #621
I have added links in the issue description with the first alpha addons to review

[2019-09-03 05:47] jgrandguillaume opened #694 "[RFC][WMS] Service definition policies"
Source : https://docs.google.com/document/d/1mct6bFFWJqW01wGFcjc-uQNEjyCxvh6Y9TuFdRhe-b0/edit#
Part of: #621

**This RCF to propose a POC implementation for the following**

- Be able to manage the piloting of several parameters related to the fulfillment of a sale order in terms of delays, packing, delivery, invoicing, etc.
- The configuration of the parameters must be centralized and the system

[2019-09-06 11:25] grindtildeath commented on #621
@jgrandguillaume  To add in the description

 - [ ] stock_putaway_abc #699
 - [ ] stock_putaway_abc_move_location_dest_constraint #700
 - [ ] stock_putaway_product_form #702
 - [ ] stock_putaway_abc_product_form #703

[2019-09-09 17:01] microsound1 commented on #487
Hi All,

Is it possible to have stock_inventory_revaluation for version 12.0?

[2019-09-09 17:55] pedrobaeza commented on #487
Well, this is a voluntary effort or driven by implementators' customers, so you can:

* Migrate by yourself and propose a pull request here with the result.
* Wait until another contributor does it.
* Pay someone willing to do that migration.

[2019-09-10 08:24] jgrandguillaume opened #710 "[RFC][WMS] Virtual Good Reservation"
Source : https://docs.google.com/document/d/1mct6bFFWJqW01wGFcjc-uQNEjyCxvh6Y9TuFdRhe-b0/edit#
Part of: #621

**This RCF to propose a POC implementation for the following**

Currently the reservation is performed by adding reserved quantities on quants, which is fine as long as the reservation is made right after the order confirmation. This way, the first arrived, first served principle is always

[2019-09-16 12:37] MiquelRForgeFlow opened #714 "[RFC] Different destination location in inventory adjustments"
Hi @rousseldenis @GillesTephaneMeyomesse,

We would like to allow users to change the destination location in inventory adjustments. Instead of the application defaulting to the product's default inventory location, the user would be able to indicate a different location while performing an inventory adjustment.

This is interesting, for example, for accounting purposes, if you use perpetual inven

[2019-09-23 13:52] jgrandguillaume opened #722 "[RFC][WMS] Goods reservation - min shelf-life"
Source : https://docs.google.com/document/d/1mct6bFFWJqW01wGFcjc-uQNEjyCxvh6Y9TuFdRhe-b0/edit#
Part of: https://github.com/OCA/wms/issues/1

**This RCF to propose a POC implementation for the following**

Allow a minimum delay for the life date. This parameter should be defined on the Sales Order with a default value on the customer. The parameter is global for the whole order.

If the customer wa

[2019-09-24 15:19] jwaes opened #724 "warehouse configuration missing [stock_mts_mto_rule]"
In the installation instructions i read

But my warehouse screen is very small, it only shows information like in this screenshot:

![Warehouse configuration](https://www.odoo.com/documentation/user/12.0/_images/warehouse_creation01.png)

While i expect something like this:

![Expected](https://user-images.githubusercontent.com/14229503/43908639-1b7f675c-9c16-11e8-860e-e3d5e7d4d402.png)

My user h

[2019-09-25 10:23] #724 closed, assigned to nobody

[2019-09-25 10:24] jwaes commented on #724
"Multi-Step Routes" must be enabled under general settings / inventory

[2019-09-25 10:28] jwaes opened #725 "created only for company_id=1 [stock_mts_mto_rule]"
"Make To Order + Make To Stock" entry in db table stock_location_route gets created only with company_id=1

In a multi company setup the other companies do not have the option available.

[2019-09-25 10:42] rousseldenis commented on #725
@jwaes Could you say in which version it happens ?

@florian-dacosta

[2019-09-25 10:44] jwaes commented on #725
Odoo 12.0-20190816 (Community Edition)

    'name': 'Stock MTS+MTO Rule',
    'summary': 'Add a MTS+MTO route',
    'version': '12.0.1.0.0',

[2019-09-25 10:51] rousseldenis commented on #725
I think route is created at Warehouse creation.

Could you try to create a new Warehouse in your other company(ies) ?

[2019-09-25 11:19] jwaes commented on #725
Indeed when creating a new warehouse it works ... but i had 2 companies with 2 warehouses before i installed the module.

[2019-09-25 12:07] jwaes commented on #725
I am not able to create new rules under the Make To Order + Make To Stock route.

I tried on the runbot

http://3387252-12-0-f7509d.runbot2.odoo-community.org

![screenshot](https://cdn1.imggmi.com/uploads/2019/9/25/3c9e541f98156611ad4c4d9784495934-full.png)

The MTS Rule and MTO Rule stay empty and because of that you cannot save the Route.

[2019-09-29 21:49] OCA-git-bot opened #727 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] account_move_line_product - By @ps-tubtim - #789
- [x] account_move_line_stock_info - By @ps-tubtim - #793
- [ ] partner_location_auto_create - By @Ana-Iarajuli - #2056
- [ ] procurement_auto_create_group
- [x] scrap_reason_code - By @Khalid-SerpentCS - #837
- [x] stock_account_change_qty_re

[2019-09-30 08:32] sergiocorato commented on #572
I found the same problem in v. 12.0, as of abandoned #500 for v. 11.0 it seems the bug is not resolved.

[2019-09-30 08:34] sergiocorato commented on #509
related #572

[2019-09-30 08:35] sergiocorato commented on #505
related #572

[2019-09-30 08:36] rousseldenis commented on #509
@eqrp In which version are you ?

[2019-09-30 08:40] eqrp commented on #509
odoo version 10.0 Community

[2019-09-30 10:24] sergiocorato commented on #572
[This](https://github.com/OCA/manufacture/pull/411) solve for v. 12.0, but I do not investigated so much.

[2019-10-01 08:37] rousseldenis commented on #566
@schickermineral What's the status of this ?

[2019-10-01 09:28] schickermineral commented on #566
Status unchanged since my last post. We were waiting for some input how to test on runbot.

Indeed we are going to not use [mrp_mto_with_stock] anymore in the near future (currently testing). So we will see whether this leads to preventing mulitplied consumption though, which was one assumption in an earlier post of @florian-dacosta.

At this point we are facing multiplied consumption only sporadi

[2019-10-01 13:20] ccandito opened #731 "cycle counting x product"
Dear All,
I've noticed cycle counting rules can be assigned to locations/warehouses only, but not to products.
Assigning a periodic rule to a product, according to an ABC classification it is possible to plan how many times a physical inventory has to be performed in a fiscal year per product.
please contact me for more information.
Regards
claudio Candito

[2019-10-01 13:26] ccandito opened #732 "physical inventory report"
Dear All,
it is important to check that a product has been counted at least once in a fiscal year per warehouse.
I was not able to find this kind of report.
could you please advice me?
Regards
claudio

[2019-10-01 13:31] rousseldenis commented on #732
You want to say that the product has to be in an inventory once a year ?

For my knowledge, there is no report for that specific needs today. Do you want to develop that feature or ... ?

[2019-10-01 13:39] ccandito commented on #732
thanks for your reply.
unfortunately I'm not so able to develop it.
regards
claudio

[2019-10-01 13:39] #732 closed, assigned to nobody

[2019-10-21 11:41] rousseldenis commented on #731
@jbeficent @lreficent

[2019-10-21 11:59] LoisRForgeFlow commented on #731
It is not a good idea to perform a cycle count strategy by product, as a product can be spread across many locations in your warehouse and you should move to each location to check the qty in each location, this is not efficient.

if you want to follow an ABC strat you need to store products of each category in different locations and then apply different rules to each group of locations.

[2019-10-21 11:59] #731 closed, assigned to nobody

[2019-10-22 07:25] ccandito commented on #731
Dear Ireficente,
the purpose of cycle counting is to spread up the physical inventory effort over the year.
I'd suggest to calculate ABC indicator per warehouse, so only one class, e.g. B class, is assigned to a product per warehouse.
For each class, the number of physical inventory is assigned, e.g. 4 times per year, so every 365/4 days an physical inventory has to be performed.
in this way we ca

[2019-10-22 09:48] LoisRForgeFlow commented on #731
I know what cycle counting is for... as I said it is not that I don't understand what you mean, it's that I don't agree how you want to implement an ABC strategy. I highlight again that the fact that the feature to cycle count by product is not there **by decision** (for the reasons exposed above).

If you still want to it that way, you can create a custom module, but I would suggest you to first

[2019-10-28 14:16] rousseldenis commented on #714
@mreficent So, you need both functionnaliies of reason change and location change ?

As your feature (the location proposal related to reason) depends on stock_change_qty_reason, I think you could reasonably make a new module depending on it ? Wthat do you think?

[2019-10-28 14:30] MiquelRForgeFlow commented on #714
Yeah, that's why I did a glue module (same PR as the other).

[2019-10-28 14:53] rousseldenis commented on #624
@ivanvashenko12

[2019-10-28 14:54] rousseldenis commented on #624
Maybe you can take a look at https://github.com/akretion/pywebdriver

The weight driver is mising but I think this gap could be fullfilled

[2019-10-29 07:13] rousseldenis opened #736 "[BUG][11.0] stock_inventory_exclude_sublocation: change in Odoo"
@mreficent @lreficent
The 11.0 main branch is red due to a change in Odoo core :

https://github.com/odoo/odoo/commit/7b29911d0ce633998e30546230bb46abf7952518

This is a new constraint to check if products are equivalent on move line level and lot level.

Could you check or point someone else to explore for a fix ?

[2019-10-29 07:27] rousseldenis commented on #736
I've done it :smiley:

[2019-10-29 10:00] #736 closed, assigned to nobody

[2019-10-29 10:57] angelmoya commented on #640
Hi @jgrandguillaume I will work on this requirement for version 12.0

On our project we have several zones on warehouse, mainly we have Stock Zone and Picking Zone.

We create as two warehouses, and Stock Warehouse will supply Picking Wharehouse.

We create reordering rules to:
- Buy for stock warehouse.
- Move from stock warehouse to picking warehouse.

The problem is that the route that create a

[2019-10-30 16:25] LoisRForgeFlow commented on #736
Thanks!

[2019-11-04 20:19] augustodinizl opened #741 "stock_request error when using pt_BR"
Good evening

Perhaps is there some misconfig on my instance, but i'm getting that error at using translation
Can somebody help me?

`Erro:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/bitnami/apps/odoo/lib/odoo-12.0.post20190918-py3.7.egg/odoo/api.py", line 1039, in get
    value = self._data[key][field][record._ids[0]]
KeyError: 1005

During handling of the above exception,

[2019-11-04 20:36] mileo commented on #741
Hi, i think this is a bug.

By default the selection fields are already translatable, there is no need to translate it at https://github.com/OCA/stock-logistics-warehouse/blob/12.0/stock_request/models/stock_request.py#L10
and consequently at
https://github.com/OCA/stock-logistics-warehouse/blob/12.0/stock_request_submit/models/stock_request.py#L12

Can test to remove all the translations: _( ) (p

[2019-11-04 20:54] augustodinizl commented on #741
Yeahp, worked like a charm,

TKS

[2019-11-04 21:07] mileo commented on #741
Please make a pull request fixing it

[2019-11-08 10:13] grindtildeath commented on #691
ABC and restrictions PR are to be handled by the following modules:

 - stock_storage_type https://github.com/OCA/wms/pull/4
 - stock_putaway_storage_type_strategy https://github.com/OCA/wms/pull/5
 - stock_putaway_storage_type_abc https://github.com/OCA/wms/pull/6

So out of #707 that is a dependency of stock_storage_type, I guess we can close the rest.

[2019-11-10 13:05] #594 closed, assigned to nobody

[2019-11-11 07:09] rousseldenis commented on #682
@infoitservit This is known by the author, see: https://github.com/OCA/stock-logistics-warehouse/blob/11.0/stock_putaway_same_location/models/product_putaway.py#L26

Maybe, you can propose a PR to change this?

[2019-11-11 22:53] LoisRForgeFlow commented on #741
@augustodinizl Can you please open the PR against OCA, so everybody benefit from your fix.

Thanks!

[2019-11-12 18:08] Qamar-Datasmith opened #750 "It is not possible to unreserve more products of"
Hi

I am trying to create stock request in Odoo version 12 through web service. Stock Request and picking created in odoo but when i click on "In transit" type picking and then click on "Validate" button then It asked me "You have not recorded done quantities yet, by clicking on apply Odoo will process all the reserved quantities." Then i click on "Apply" button it gives me error "It is not possib

[2019-11-13 17:55] max3903 opened #756 "[RFC] stock_location_limit_product"
Depends on stock.

This module allows you to define a limit by product quantity on a stock location. This limit can later be used to track the capacity available of the location.

# Usage

* Go to Inventory > Configuration > Warehouse Management > Locations
* Select or create a location
* Enter the limits by selecting a product and entering the quantity

# Technical Specifications

## stock.locati

[2019-11-20 17:58] max3903 opened #765 "[RFC] stock_request_account"
Depends on:
- [ ] https://github.com/OCA/product-attribute/issues/528
* stock_request
* account_invoice_report_hide_line

This module allows you to invoice or expense a completed stock request shipped to a customer location: when the stock request is processed, the product value remains in the stock output account. This module will allow you to release the value from this temporary account.

# Usa

[2019-11-22 13:39] kos94ok-3D opened #768 "[12.0][stock_mts_mto_rule] Can not create own MTS+MTO rule"
Fields mts_rule_id and mto_rule_id are missing on Stock rule form view.

[2019-11-22 13:39] kos94ok-3D commented on #768
#767

[2019-11-26 12:21] chienandalu opened #769 "[11.0] stock_request broken CI because of some Odoo upstream change"
`11.0` build is now broken. An example of the error https://travis-ci.org/OCA/stock-logistics-warehouse/jobs/612365669#L1646

Can you take a look @lreficent ?

[2019-11-28 11:11] #768 closed, assigned to nobody

[2019-11-29 17:08] max3903 opened #779 "[12.0] stock_request_*: ValueError: ('draft', 'Borrador') is not in list"
# Version

12.0

# Steps to reproduce

* Install stock_request_submit in a new DB with a different language than english (I tried with spanish)
* Upgrade the DB

# Result

[code]

# Expected Result

Upgrade completes with no error.

[2019-12-02 08:24] LoisRForgeFlow commented on #769
It should be fixed now, just rebase your branch!

[2019-12-02 08:24] #769 closed, assigned to nobody

[2019-12-02 08:28] chienandalu commented on #769
Thanks!

[2019-12-02 16:55] LoisRForgeFlow commented on #779
closed via https://github.com/OCA/stock-logistics-warehouse/pull/780

[2019-12-02 16:55] #779 closed, assigned to nobody

[2019-12-16 14:23] emudin commented on #727
hi i have error trying to convert stock request to odoo 13

Odoo Server Error
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\tools\cache.py", line 85, in lookup
    r = d[key]
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\tools\func.py", line 69, in wrapper
    return func(self, *args, **kwargs)
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\to

[2019-12-19 02:44] ps-tubtim commented on #727
Working on migration
- account_move_line_product (https://github.com/OCA/stock-logistics-warehouse/pull/789)
- account_move_line_stock_info (https://github.com/OCA/stock-logistics-warehouse/pull/793)
- stock_secondary_unit (https://github.com/OCA/stock-logistics-warehouse/pull/796)
- stock_removal_location_by_priority (https://github.com/OCA/stock-logistics-warehouse/pull/798).

[2019-12-19 04:01] ps-tubtim commented on #727
stock_warehouse_orderpoint_stock_info https://github.com/OCA/stock-logistics-warehouse/pull/800

[2019-12-19 04:02] ps-tubtim commented on #727
stock_warehouse_orderpoint_stock_info_unreserved https://github.com/OCA/stock-logistics-warehouse/pull/801

[2019-12-19 08:54] ps-tubtim commented on #727
stock_available https://github.com/OCA/stock-logistics-warehouse/pull/802
 stock_available_mrp https://github.com/OCA/stock-logistics-warehouse/pull/803

[2019-12-24 08:44] amkarthik commented on #727
Can we have "stock_account_internal_move" in the modules to migration list?

[2019-12-24 08:50] rousseldenis commented on #727
Done. You take care of migration ?

[2019-12-24 09:55] amkarthik commented on #727
Yes

[2019-12-27 12:20] sotolucas commented on #487
@kittiu are you planning to migrate stock_putaway_method and related?

[2019-12-30 15:28] #756 closed, assigned to max3903

[2020-01-02 15:37] saxomanu commented on #727
Why stock_mts_mto_rule is still on the list. Seems to be in standard in v13, with "Supply Method" on rule ?

[2020-01-03 15:56] rousseldenis commented on #727
Indeed, but not completely. From a first sight, the only case not managed is the partial stock.

![image](https://user-images.githubusercontent.com/19529533/71733485-0552ee00-2e4a-11ea-87f2-874928b49e92.png)

[2020-01-08 22:15] mrgoetz opened #825 "Is the mts-mto route applicable having a bom ? [stock_mts_mto_rule]"
Hi, we want to use stock_mts_mto_rule for the production of products with boms with several layers. Lets say we want to manufacture a table. Last step of production is to paint it. The table is manufactured in several steps before.. If the virtual stock is empty for our ready painted table we see the mto_mts route active, a MO is created, but there is no procurement to produce the raw table. Is so

[2020-01-09 07:58] rousseldenis commented on #825
@florian-dacosta @LoisRForgeFlow

[2020-01-09 08:02] rousseldenis commented on #750
Do you speak about the OCA module stock_request ?

If yes, @JordiBForgeFlow @LoisRForgeFlow maybe this is a question for you

[2020-01-11 23:45] josepmy opened #827 "[12.0] stock_putaway_method menu don't appear"
Hi,

I installed the module stock_putaway_method but don't appear into the inventory menu.
Odoo 12 CE

Salut,
Josep M

[2020-01-12 13:55] florian-dacosta commented on #825
HI @mrgoetz

Indeed, this module only work for the first layer of a bom.
For manufacturing orders'raw material, there is another module : https://github.com/OCA/manufacture/tree/10.0/mrp_mto_with_stock

[2020-01-13 10:24] LoisRForgeFlow commented on #750
@Qamar-Datasmith did you try on runbot? are you able to reproduce the problem?

[2020-01-14 16:15] yk2kus opened #831 "[13.0] Modules don't show up in apps.odoo.com"
Can you please add the module to apps for V13?

https://www.odoo.com/apps/modules/12.0/stock_available_unreserved/

[2020-01-14 23:28] josepmy commented on #827
Hi,
Any idea what I’m doing wrong?

[2020-01-15 12:46] LoisRForgeFlow commented on #831
I can confirm that no v13 module of this repo is at the odoo app store.

[2020-01-15 12:50] pedrobaeza commented on #831
Any 13.0 branch is published on Odoo Apps Store, but you can find all in https://odoo-community.org/shop

[2020-01-15 12:50] pedrobaeza commented on #831
@simahawk maybe you can take this task that I was to do previously? Tell me and I'll send you some information for automation.

[2020-01-15 12:55] rousseldenis commented on #831
@LoisRForgeFlow

![image](https://user-images.githubusercontent.com/19529533/72435557-9f962880-379e-11ea-9348-bf48359d0602.png)

[2020-01-15 12:55] pedrobaeza commented on #831
~~Somebody has registered it by its own...~~

EDIT: Seen that it was OCA's app "store"

[2020-01-15 12:55] rousseldenis commented on #831
Ah yes, on Odoo

[2020-01-15 12:58] rousseldenis commented on #831
Apparently, they changed the way product are displayed for 13.0.

![image](https://user-images.githubusercontent.com/19529533/72435742-1cc19d80-379f-11ea-8a1f-fdff1f6f1190.png)

[2020-01-15 13:36] simahawk commented on #831
@pedrobaeza is it documented anywhere?

[2020-01-15 13:42] pedrobaeza commented on #831
Nop. I just have an email from Odoo's app store detailing some REST API services that can help for this that I can forward to you. We did an attempt through scrapping in the past that is in https://github.com/OCA/maintainer-tools/pull/409

[2020-01-15 13:58] simahawk commented on #831
@pedrobaeza if does not contain any sensitive data you could post it on that issue.
Otherwise, fwd it to me pls.

[2020-01-15 14:01] pedrobaeza commented on #831
No, here it is:

------------
Here a the main 2 route that should interest you:

route:  [/apps/scan_repo]
args: INT repo_id {mandatory}
returns: None
use: will force a scan of the repository
ex:
var repo_id=2
ajax.jsonRpc('/apps/scan_repo', 'call', {
                    'repo_id': repo_id
                }).done(function(){
                    // your code
                });

route:  [/apps/uplo

[2020-01-18 09:48] simahawk commented on #831
which dashboard? There's no way to get a list of existing repo via specific endpoint?

BTW to me is insane that we have to do all this work to make them index community repos.
IMO we should provide the list of repos and THEY should fetch and scan them all.
We could expose the list via odoo-community.org and they can have a cron to retrieve the full list every X days.
Since we already have our apps

[2020-01-19 16:34] pedrobaeza commented on #831
No, it hasn't be discussed, but not sure if they want to add GitHub queries to know new branches and put filters for that for avoiding temp branches.

[2020-01-20 12:25] simahawk commented on #831
if we expose an endpoint w/ the results ready to be used they won't need to scan github repos. That's the idea.

[2020-01-23 07:45] mrgoetz commented on #825
Hi Florian, thank you for your advice. This is what we need. I will close my question. Cheers

[2020-01-23 07:45] #825 closed, assigned to nobody

[2020-01-23 20:41] plejsq commented on #727
@saxomanu @rousseldenis I confirm that partial stock is not a standard option in v13 (meaning when you have 5 pieces on stock and customer want 12, the system will not take 5 from stock and manufacture remaining 7). We are fighting to make it work with v13 but not yet successful.

[2020-01-27 19:10] NCS-75 opened #836 "[13.0] [BUG]"stock_available_unreserved" module > Error when Update Quantity " from any storable product form"
When trying to "Update Quantity" from any storable product form. There is an error message:
`AssertionError: precision_rounding must be positive, got 0.0`

Context : OCB 13.0 Odoo Server up to date, with Virgin database , to reproduce issue faced on my test environnement, and"stock_available_unreserved" installed.

@LoisRForgeFlow

.
See attach picture....
![_FURN_0789  Individual Workplace - Odoo

[2020-01-28 14:17] NSKTHR commented on #727
@plejsq Hi , have you made progress in making it work in v13? (The partial stock option, where Odoo first makes the stock 0 and them creates MOs for remaining quantity.)

thanks

[2020-01-28 22:54] josepmy opened #838 "[12.0] stock_putaway_product Feature included in core"
Hi,
Where is this feature included? on product inventory tab I don't see where to specify the location.
From the location you must assign a putaway rule and enter one by one the product reference.
This is the way?

Salut,
Josep M

[2020-01-29 07:33] pedrobaeza commented on #838
#835

[2020-01-29 07:33] #838 closed, assigned to nobody

[2020-01-29 10:55] LoisRForgeFlow commented on #836
Being fixed here: https://github.com/OCA/stock-logistics-warehouse/pull/834

[2020-01-29 12:07] rrakso commented on #727
Hi guys, my boss @plejsq ask me to help with it, so I made a little fix in the code of ``addons/stock/models/stock_rule.py``. Should I make an PR for code review and then possible merge?

Soo @NSKTHR

Is working properly now :smile:

[2020-01-29 18:04] NSKTHR commented on #727
@rrakso I am new to Github and Odoo. Started using it, ran into this issue and while searching about it ended up here. Dont know how things work here. Will you be making your fix available?

[2020-01-29 22:43] rrakso commented on #727
@NSKTHR hahah! So are we! Ok, so I'm little bit experienced at Github, so openning an pull request won't be a problem for me (I think so hahah) - then you will be able to see changed code (that little fix).  Beside if you are new in odoo I can help you as I can to make it work for you, [here](https://t.me/rrakso)
 you can text me.

[2020-01-29 22:52] rrakso commented on #727
Ok, so @NSKTHR [here is](https://github.com/OCA/OCB/blob/46cd5d274c69accb4a9e2f77253ca9f1630560ba/addons/stock/models/stock_rule.py) the changed file. I think that other people should review my adddon, but currently in our company that fix is working properly.

[2020-02-03 10:39] fXs1 commented on #727
Is this module stock_account_inventory_force_date will be migrating to v13 or is this already in v13 ?

[2020-02-03 11:08] rousseldenis commented on #727
It's not yet migrated or migrating. Do you plan to do it ?

[2020-02-03 12:12] fXs1 commented on #727
i will try to do it . But im new in it so i dont know is it be okey :)

[2020-02-03 12:14] rousseldenis commented on #727
Don't hesitate to ask.

See : https://github.com/OCA/odoo-community.org/blob/master/website/Contribution/CONTRIBUTING.rst

[2020-02-05 09:56] jimhoefnagels commented on #727
working on stock_cycle_count #844 (depends #824 )

[2020-02-05 15:52] Jacek-wedoo commented on #727
I made migration of stock_mts_mto_rule. I am new on github so I dont know how to share it with you.

[2020-02-11 14:10] LoisRForgeFlow commented on #836
This should be fixed as the PR stated above is merged.

[2020-02-11 14:10] #836 closed, assigned to nobody

[2020-02-12 17:17] yk2kus commented on #831
so are we going to have OCA modules on apps.odoo.com or not anymore?

[2020-02-13 09:24] plejsq commented on #727
please check here https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0
@johny1500

[2020-02-19 07:39] simahawk commented on #831
@yk2kus it's online now :tada:
If you spot other modules/repo missing, please, let us know.

[2020-02-19 08:54] rousseldenis commented on #831
![image](https://user-images.githubusercontent.com/19529533/74817790-cdbadb00-52fd-11ea-9c07-36640d07879a.png)

Closing

[2020-02-19 08:54] #831 closed, assigned to nobody

[2020-02-19 12:30] ludolelarge commented on #727
@johny1500  im interested to getting your code for stock_mts_mto_rule Thx

[2020-02-20 22:21] anderwm opened #850 "[13.0] in stock_move_location get_putaway_strategy fails"
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 619, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 309, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/usr/lib/python3/dist-package

[2020-02-21 15:31] anderwm commented on #850
I'm not sure exactly how this was working before, but I had to change to this to get what I wanted

        location_dest_id = (
            self.move_location_wizard_id.apply_putaway_strategy
            and self.origin_location_id._get_putaway_strategy(self.product_id).id
            or self.destination_location_id.id
        )

(use origin_location, and now _get_putaway_strategy instead of get_

[2020-03-09 10:00] eltyar opened #859 "modification"
there's just one thing missing in last step, it should check Reordering Rules for Minimum & Maximum Quantity to add it to purchase order. it will be perfect if you modify it.

[2020-03-09 15:13] rousseldenis commented on #859
What's the purpose of this issue ? Could you clarify ?

[2020-03-11 04:24] ps-tubtim commented on #727
Working on stock_orderpoint_manual_procurement_uom https://github.com/OCA/stock-logistics-warehouse/pull/860

[2020-03-17 00:04] matt454357 commented on #487
@microsound1,
I am planning to migrate stock_inventory_revaluation to version 12.0.  I expect to have a PR in the next couple of weeks.

[2020-04-03 07:06] digitalsatori commented on #727
working on stock_quant_manual_assign #877

[2020-04-16 13:43] RodrigoBM commented on #343
Hi,
Please, check Stock Reservation https://github.com/OCA/stock-logistics-warehouse/pull/883 that is already merged.
Thanks!

[2020-04-17 01:24] RodrigoBM commented on #343
Hi,
Please, check Stock Reservation Sale  #886 that is already merged, This PR depend to approval this other #883
Thanks!

[2020-04-20 06:56] jgrandguillaume commented on #685
Related work: https://github.com/OCA/stock-logistics-warehouse/pull/790

[2020-04-22 19:46] matt454357 opened #892 "[10.0] stock_inventory_revaluation: Posting Date can't be changed, reverts to today"
The user can change the Posting Date when editing the inventory revaluation. However, when clicking the Post button, the Posting Date reverts to today.

Check the code in file /stock_inventory_revaluation/models/stock_inventory_revaluation.py

The field allows changes in draft state:
[code]

But the methods ignore, and then overwrite the user's specified date:
[code]
[code]

[2020-04-24 22:29] matt454357 commented on #892
I will fix this in my PR for migration to 12.0.

[2020-05-04 19:36] max3903 opened #897 "[IMP] stock_request: Use procurement_auto_create_group"
@max3903 What do you think about using this module: [procurement_auto_create_group](https://github.com/OCA/stock-logistics-warehouse/tree/12.0/procurement_auto_create_group)? If the route used by your stock request has the "Auto-create Procurement Group" field set to true, I think you will get your desired behavior.

_Originally posted by @LoisRForgeFlow in https://github.com/OCA/stock-logistics-w

[2020-05-05 09:22] JordiADARIA opened #898 "[12] sale_stock_info_popup not showing products with serial number"
Hi,

with sale_stock_info_popup module installed, its possible to see stock availability on sale order line, but it's showing "0" when product has **serial numbers assigned**...

thanks!

[2020-05-05 09:29] pedrobaeza commented on #898
Serial numbers can't be assigned in sales orders, so you have an incompatible module. Any way, this doesn't seem a problem of this module, but the other.

[2020-05-05 09:29] #898 closed, assigned to nobody

[2020-05-05 09:35] JordiADARIA commented on #898
Hi Pedro

no, i mean **not showing stock if the product has serial numbers**. Sorry, im not speaking about write serial numbers there.

[2020-05-05 09:40] JordiADARIA commented on #898
![STOCK](https://user-images.githubusercontent.com/12151497/81053301-247b8e00-8ec5-11ea-81ae-105e17a258d5.jpg)

[2020-05-05 09:43] JordiADARIA commented on #898
![OnSale](https://user-images.githubusercontent.com/12151497/81053563-9227ba00-8ec5-11ea-8d38-80aafbc8f44a.jpg)

[2020-05-05 09:44] pedrobaeza commented on #898
I have products with tracking and this problem is not happening. Probably the warehouse in the sales order doesn't have that location included.

[2020-05-05 10:09] JordiADARIA commented on #898
yes, all that things i already checked before.

For additional info, im on a multicompany setup. But ive checked all that configuration on both. It's really strange.

[2020-05-05 10:13] pedrobaeza commented on #898
Are you able to reproduce the problem in runbot? Take into account that the code is taken from v13 feature, so if there's a bug here (maybe with multi-company), the same bug will apply to Odoo itself.

[2020-05-05 10:23] JordiADARIA commented on #898
oh, no, let me check it there. ill check on a few hours, thanks Pedro.

[2020-05-05 16:42] JordiADARIA commented on #898
ive checked it on runbot, and ### it's running completely right there... ill try to find on my instance and ill try to find the problem. If it's a "common" problem,ill come back here and ill publish it.

thanks!

[2020-05-14 14:25] fXs1 commented on #727
@johny1500 im interested to getting your code for stock_mts_mto_rule. Can you send me a link or just put it in Github ?

[2020-05-16 13:07] Zelelaw opened #906 "Availablity Checking"
module: stock_request
version: 12.0

**Steps to reproduce**
Check the requested quantity from inventory by receiving the amount to be "done" from the requested total quantity

**Current behavior**
the system does not allow me to enter amount of quantity to be done on the inventory when I try to check availability in the stock
**Expected behavior**
Enter the requested quantity on the done column an

[2020-05-16 13:12] johny1500 commented on #727
czw., 14 maj 2020 o 16:25 fXs1 <notifications@github.com> napisał(a):

[2020-05-25 07:12] simahawk opened #910 "Q: any module to compute qty by packaging for delivery?"
I need to compute the quantities to be picked for checkout by packaging.

Eg: 855 units = 1 big box of 500 units + 3 boxes of 100 Units + 5 units

Is there such a module? If yes, I can't find it. If not, I can do it.

[2020-05-25 08:21] rousseldenis commented on #910
@simahawk If you use packaging_uom in combination with sale packaging, it will use it in delivery moves. To be checked

[2020-05-25 08:28] simahawk commented on #910
I've checked that module but I don't think is going to give me what I need.
I need to tell to the operator the combination of quantities by package unit / type to pick.
Eg: "1 big box + 3 boxes + 5 units" or "1 pallet, 3 boxes and 20 units" in one sentence, depending on the qty he/she has to pick.

IDK if I explained myself :sweat_smile:

[2020-05-25 08:39] rousseldenis commented on #910
But I think your need is maybe more a module to compute the biggest packaging available to reduce packagings moves. Is that correct ?

So, when generating move lines (or pack operations <= v10), it should result in 3 lines with corresponding packagings.

So, one move with qty = 855 => 3 move lines (1x 500, 3x 100, 5 x 1).

If I have correctly understood

[2020-05-26 06:48] simahawk commented on #910
Nope. It's exactly the little thing I meant: show the picker a message.
That's it. I don't want more lines nor automation whatsoever.
I have 1 single line w/ - say - 5305 units and I need to tell to the picker "pick 1 pallet, 3 boxes and 5 unit".

Hope is more clear :)

[2020-05-26 08:52] simahawk commented on #910
@rousseldenis this is what I had in mind: https://github.com/OCA/stock-logistics-warehouse/pull/911 :wink:

[2020-05-26 09:02] rousseldenis commented on #910
It's a 'helper' message so. Ok, understood. That has to be clear in module, but LGTM

[2020-05-27 07:20] Zelelaw opened #913 "Deduct request amount of product from product quantity in Inventory"
I use this module and make a request to inventory. then check availability and amount deduction from a number of the product is still not working in my part is there any solution for this issue.

to be clear if we have 50 in quantity of one product the if I request 20 then this request must be checked to inventory for its availability and after received the product quantity should become 30.

[2020-05-27 07:22] pedrobaeza commented on #913
Which module? Which version?

[2020-05-27 08:32] Zelelaw commented on #913
sorry for not specifying this
Version: Odoo Version 12
Module: stock_request

[2020-05-28 19:13] jgrandguillaume commented on #640
Close as final version is there: https://github.com/OCA/stock-logistics-warehouse/pull/788

[2020-05-28 19:13] #640 closed, assigned to guewen, grindtildeath

[2020-05-28 19:18] jgrandguillaume commented on #691
RFC is over, were entering the pilot phase. To clean up I'm closing related issues

[2020-05-28 19:18] #691 closed, assigned to grindtildeath

[2020-05-28 19:18] jgrandguillaume commented on #685
RFC is over, were entering the pilot phase. To clean up I'm closing related issues

[2020-05-28 19:18] #685 closed, assigned to guewen

[2020-05-28 19:19] jgrandguillaume commented on #641
RFC is over, were entering the pilot phase. To clean up I'm closing related issues

[2020-05-28 19:19] #641 closed, assigned to guewen

[2020-05-28 19:20] jgrandguillaume commented on #722
RFC is over, were entering the pilot phase. To clean up I'm closing related issues

[2020-05-28 19:20] #722 closed, assigned to damdam-s

[2020-05-29 08:54] CasVissers-360ERP opened #914 "[13.0] scrap_reason_code only set location if set"
@bodedra @AaronHForgeFlow

def write and create currently assume that when a stock scrap is created or written with a reason_code_id set. This reason code has a location set.
I run into issues when creating a scrap using the API because I don't have a location on the reason.

    def write(self, vals):
        if "reason_code_id" in vals:
            self.scrap_location_id = (
                self

[2020-05-30 15:41] Zelelaw commented on #913
Dear @pedrobaeza Waiting for you if any setting or configuration issue is there maybe if you know and willing to help me over the issue
with regards
Zelalem

[2020-05-30 15:54] pedrobaeza commented on #913
Sorry, I only ask for issue completion, but can't say about the problem itself.

[2020-05-30 16:24] Zelelaw commented on #913
Okay sir Thank you

[2020-06-15 11:50] HaraldPanten opened #924 "[RFO] Package stock control"
Hi @MiquelRForgeFlow @LoisRForgeFlow @JordiBForgeFlow  @pedrobaeza ,

I was thinking about this use case (V12/V13 CE):

(I'm working with packages)

1- I'm selling 1 product; a normal sale. I create a new quotation selling a storable product.
2- I confirm the quotation, so... a new picking is created.
3- I put my product in a package and I transfer it.

Situation: I want to control my packages sto

[2020-06-15 14:44] yeestrada opened #925 "No procurement rule found in location "..." for product "...". Check routes configuration (stock_mts_mto_rule)"
Hello everybody, I am currently using Odoo 12, and I have installed stock_mts_mto_rule, I already have selected "Multi-Step Routes" and Make To Order + Make To Stock in the product form. Besides, I have created a Reordering Rule for the product but, when I make a sales and try to confirm it, the system shows me the error:
**No procurement rule found in location "..." for product "...". Check route

[2020-06-15 15:14] yeestrada commented on #485
Hi, I am currently using Odoo 12, but it happens the same to me, I already made the procurement rule for the product, but the system still shows me the same warning, can you tell me what to do to fix it??

[2020-07-02 18:55] bruno-zanotti commented on #727
Working on stock_putaway_method #935

[2020-07-03 09:33] rousseldenis commented on #910
Closing this as #911 is merged

[2020-07-03 09:33] #910 closed, assigned to nobody

[2020-07-03 09:44] HaraldPanten commented on #924
@simahawk @rousseldenis thx!

[2020-07-06 15:41] flotho opened #940 "Question regarding procurement_auto_create_group"
Hi @JordiBForgeFlow , @MiquelRForgeFlow ,

As far as the documentation explains here :

I tried many configurations either on v10 and v12 and it seems to not work as expected/explained

What is done :
* For each order point, when the scheduler is ran, a new procurement group is affected to each procurement associated to this order point
* As a result, if you have  nOP orderpoints, you'll have nOP

[2020-07-06 15:46] flotho commented on #940
Here are the result of my tests :
http://3429503-10-0-a476c1.runbot2-2.odoo-community.org/web?debug=1#min=1&limit=80&view_type=list&model=stock.picking&menu_id=202&action=278
![image](https://user-images.githubusercontent.com/1043935/86612329-4326ff80-bfb0-11ea-8654-af772a3f7c4d.png)

Any help would be appreciated

[2020-07-08 04:06] niceboat000 commented on #925
Hi yeestrada, this means your route is not closed-loop, pls check your route with odoo 12.0 document.

[2020-07-08 16:04] LoisRForgeFlow commented on #727
@Bruno-Zanotti-Adhoc The only use of that module at the moment is `stock_putaway_product` which has been integrated in core. Do you have in mind to implement a new putaway method? if so, what are you thinking on?

Thanks for contributing.

[2020-07-13 13:41] bruno-zanotti commented on #727
@LoisRForgeFlow
Actually I didn't know that stock_putaway_product was already on core, and others putaway strategies that we were using are not needed anymore. So, I will close the pr.
Thanks for the review.

[2020-08-07 08:39] flotho commented on #940
I'm closing this  issue because it's a misunderstanding from my side.
The README precise correctly that it's used during the procurement run and not during the scheduler run !
So the doc is Ok,

regards

[2020-08-07 08:39] #940 closed, assigned to nobody

[2020-08-19 16:29] bodedra commented on #914
@CasVissers-360ERP I am agree with your point and here is PR #953

[2020-08-20 05:33] #914 closed, assigned to nobody

[2020-08-20 05:33] CasVissers-360ERP commented on #914
Fixed in #953

[2020-08-26 07:34] abhinavvaidya90 opened #957 "[IMP] Request to add support for Removal Strategy: FEFO on Odoo v12"
Odoo version : V12
Module Name : stock_removal_location_by_priority

When trying to use the module _stock_removal_location_by_priority_ for system with removal strategy setup as FEFO, this is not working and raising warning as :

"Removal strategy %s not implemented."

Ref URL : https://github.com/OCA/stock-logistics-warehouse/blob/12.0/stock_removal_location_by_priority

![image](https://user-ima

[2020-09-01 14:32] max3903 opened #958 "stock_request: Quantity done calculation"
# Version

Reproduced on 12.0.
Have not tested other versions.

# Description

If someone creates a return from a delivery order that is linked to a stock request order, the quantity returned is added to the SRO's quantity done field.

This can cause issues, specifically when accounting bills a customer. The invoice is based off the Qty Done field on an SRO, so a mistake on the SRO can create a mi

[2020-09-01 14:32] max3903 commented on #958
@murtuzasaleh will propose a fix shortly.

[2020-09-04 00:01] dominiquekonsuntack opened #962 "Back order"
module: stock_request
version: 12.0

**Steps to reproduce**
- create a stock request
- in the picking, do a partial delivery, this creates a back order

**Current behavior**
- the back order is not linked to stock request, so a user who wants to check the status of a stock request, will not "see" that there is a back order. He has to open the stock picking, and search manually for any backorder

*

[2020-09-04 00:04] dominiquekonsuntack commented on #962
incidently, this would work well with the stock split module. A user makes a stock request. The delivery guy then decides to split the delivery, because of limited truck capacity.  The requestor then can see that he will be delivered in two trips instead of one trip.

[2020-09-04 00:16] dominiquekonsuntack commented on #962
more specifically, the example above is for stock.request.order

[2020-09-07 13:07] rousseldenis commented on #962
@JordiBForgeFlow @LoisRForgeFlow

[2020-09-17 10:43] BT-rmartin opened #972 "Question about stock_move_location_dest_constraint_base and why it depends on a module not merged"
Dear community,

I recently realized about stock_move_location_dest_constraint_base depends on a [module not yet merged](https://github.com/OCA/stock-logistics-warehouse/blob/12.0/stock_move_location_dest_constraint_base/__manifest__.py#L15) in stock-logistics-warehouse.

This is fixed by [this dependency](https://github.com/OCA/stock-logistics-warehouse/blob/12.0/oca_dependencies.txt#L7), but I w

[2020-09-18 09:56] grindtildeath commented on #972
Hello @BT-rmartin ,

It is indeed better not to depend on an unmerged PR, as the dependent PR should have been merged before #696 was merged.

The unmerged dependent PR is https://github.com/OCA/stock-logistics-warehouse/pull/707 which backports the new v13.0 implementation of putaways in v12.0.
However, both these modules are tagged with maturity level Alpha, and we will not maintain stock_move_l

[2020-09-18 10:02] rousseldenis commented on #972
@grindtildeath @jgrandguillaume

Be careful when you want to merge Alpha modules. The dependencies must be merged before. Although it could lead to inconsistencies.

Indeed, reverting #696 makes sense. As I understand you develop now in v13. So, the logic would tend to backport those modules.

[2020-09-18 10:26] BT-rmartin commented on #972
Hi,

Thanks for replying. Then if you agree #696 can be reverted, you can go for it, In my opinion #707 can be merged as well as at least it doesn't add strange dependencies. But I'm nobody here to make those decisions. Could you @grindtildeath @jgrandguillaume @rousseldenis please get in touch with whoever can decide on that and proceed asap?

Thanks in advance

[2020-09-18 10:53] grindtildeath commented on #972
I just opened revert PR #973 and I guess we can fast track it so it will close this issue.

#707 still needs reviews before being merged anyway.

[2020-09-22 23:17] deivislaya commented on #727
stock_mts_mto_rule #976

[2020-09-25 11:10] #972 closed, assigned to nobody

[2020-09-25 11:11] BT-rmartin commented on #972
Closing the issue as the revert PR #973 was merged. Thanks for your support guys

[2020-10-04 10:35] OCA-git-bot opened #981 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] account_move_line_product - By @Mantux11 - #1296
- [ ] account_move_line_stock_info - By @JoanMForgeFlow - #1277
- [x] procurement_auto_create_group - By @DavidBForgeFlow - #1180
- [ ] product_quantity_update_force_inventory - By @mariadforgeflow - #1342
- [x] scrap_reason_code - By @Chandre

[2020-10-05 20:51] celm1990 opened #982 "[13.0] stock_request error to create or selected product"
I install stock_request but get error, at create new record or select product show this error, any idea??
![image](https://user-images.githubusercontent.com/7775116/95130511-4c944500-0722-11eb-9d81-47e63047fd3f.png)

[2020-10-05 22:56] celm1990 commented on #962
in v13 the happens same

[2020-10-12 18:41] alan196 commented on #981
I made migration of stock_request in PR https://github.com/OCA/stock-logistics-warehouse/pull/985

[2020-10-19 03:34] conroyke56 opened #990 "[12.0] stock_quant_manual_assign destination package error on picking"
Expected process, create quotation.
Confirm.
Picking Automatically generated and reserved.
Source packaging copied to destination packaging.
![create quotation](https://user-images.githubusercontent.com/33205454/96398586-f510d180-1217-11eb-921e-95e664f85a7b.PNG)
![pickign generated](https://user-images.githubusercontent.com/33205454/96398613-fd690c80-1217-11eb-87fe-269f3c62cc10.PNG)
![source packa

[2020-10-20 14:48] #982 closed, assigned to nobody

[2020-10-23 07:38] rousseldenis commented on #990
@LoisRForgeFlow @pedrobaeza Could you help on this ?

[2020-10-23 07:41] pedrobaeza commented on #990
I'm not using the module in this version.

[2020-10-26 08:35] tancuong080920 opened #995 "install add-on "Stock Request" error."
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo12/odoo/models.py", line 1128, in _validate_fields
    check(self)
  File "/opt/odoo/odoo12/odoo/addons/base/models/ir_ui_view.py", line 351, in _check_xml
    self.postprocess_and_fields(view.model, view_doc, view.id)
  File "/opt/odoo/odoo12/odoo/addons/base/models/ir_ui_view.py", line 1131, in postprocess_and_fields

[2020-10-26 13:42] chandni299 opened #996 "12.0: [IMP] : stock_inventory_revaluation : improve the filter to search stock.location in unittest"
in Unit test [at line 53](https://github.com/OCA/stock-logistics-warehouse/commit/50f3ddea4764514d597b992ad8144ed9d0e33466#diff-8cfc509c3b84591877162189d41e90d30f61ad1bd6d523eb8970690eb8191c64R53) we should improve the search domain by adding another filter as
`self.location = self.stock_location_model.search ([('location_id', '=', location.id), ('name', '=', 'Stock')])`
to make it more precise.
R

[2020-10-26 15:13] rousseldenis commented on #996
Either you have to point the error we have in an OCA travis build that would show an incompatibility between two OCA modules, either you are trying to test OCA modules with your proper install which is not recommended. As these modules are just 'aware' of the modules they depend on.

[2020-10-27 08:34] chandni299 commented on #996
Yes. I totally agree with you. It is just adding/improving the filter to make this search more precise and general to avoid failure for other use cases. I must name this issue as [IMP], not as [BUG].

[2020-10-27 11:22] victoralmau commented on #727
Working on `stock_orderpoint_generator` https://github.com/OCA/stock-logistics-warehouse/pull/998

[2020-10-28 09:10] victoralmau commented on #727
Working on `stock_putaway_product_form` https://github.com/OCA/stock-logistics-warehouse/pull/1001

[2020-11-17 00:53] farazbdm commented on #441
@pedrobaeza
is it possible to get a hint on this same issue.
stuck in abyss, when its AVCO enabled, and cost was 0, quantity was 0.

Not able to update either of them.

[2020-11-17 00:55] pedrobaeza commented on #441
Sorry, I'm not a user of this module.

[2020-11-17 01:01] farazbdm commented on #441
can you please recommend someone, will be highly thankful

[2020-11-17 01:02] farazbdm commented on #441
@JordiBForgeFlow @sergio-teruel
can you please help

[2020-11-19 08:43] qtheuret opened #1016 "[11.0] stock_move_location : no picking_type_id given on stock.move"
Version : 11.0

Detailed issue:
− When move products from a location to another location, if the product tracking method is not none but there is no tracking checkboxes on picking_type selected, there is an error message saying that we need to define which lots are moved.

[2020-12-02 07:33] joao-p-marques commented on #981
I will migrate stock_move_location

[2020-12-05 01:43] fanha99 commented on #981
hi I made migration of  stock_quant_manual_assign in https://github.com/OCA/stock-logistics-warehouse/pull/1025

[2020-12-18 06:36] usmanfarzandali commented on #981
I migrate stock_secondary_unit into 14 can you please guide me where i can sing and make pull request its my first PR

Regards

[2020-12-18 09:31] emagdalenaC2i commented on #981
@usmanfarzandali Take a look to https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0.
That is the first link in this issue (see in the top)

[2020-12-26 14:40] florian-dacosta commented on #981
stock_free_qty => Should replace stock_available_unreserved : https://github.com/OCA/stock-logistics-warehouse/pull/1042

[2020-12-28 20:00] ivantodorovich commented on #981
stock_inventory_preparation_filter : https://github.com/OCA/stock-logistics-warehouse/pull/1041

[2021-01-10 04:01] dzungtran89 commented on #981
`stock_orderpoint_manual_procurement`: #1054

[2021-01-12 22:04] hparfr commented on #981
stock_picking_completion_info moved to OCA/wms in https://github.com/OCA/wms/pull/118/

[2021-01-21 13:10] alyngsoe opened #1058 "[13] stock_mts_mto_rule does not include procurement from MO"
The module works perfectly when you have a demand of a product from a salesorder, and want to use the new route. BUT if you have a manufacturing order and this creates a demand for for example af purchase, then the route is not working.

[2021-01-25 11:39] fanha99 commented on #981
new pull request in https://github.com/OCA/stock-logistics-warehouse/pull/1061

[2021-01-26 16:18] ventor-dev commented on #981
@pedrobaeza , is stock_orderpoint_generator module not needed anymore?

[2021-01-26 17:18] pedrobaeza commented on #981
https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2021-01-27 19:36] luisg123v commented on #727
The module `stock_mts_mto_rule` is already migrated

[2021-02-05 11:39] Yhinkar commented on #727
I found this issue on ovio.org and would love to contribute!

[2021-02-07 12:58] phuctranfxvn commented on #981
`stock_cubiscan` migrated https://github.com/OCA/stock-logistics-warehouse/pull/1072

[2021-02-08 19:43] thomaspaulb commented on #343
@fanha99 @pedrobaeza I am dealing with an 11.0 instance that has duplicate quants still:

![image](https://user-images.githubusercontent.com/1466356/107272411-f166bc00-6a4d-11eb-882e-56e229e372d6.png)

I don't know how they got there, but they are not getting merged because they have a different [in_date](https://github.com/OCA/OCB/blob/11.0/addons/stock/models/stock_quant.py#L328), and they are c

[2021-02-08 19:45] pedrobaeza commented on #343
Odoo itself duplicates quants in some concurrent update cases. That's not critical anyway.

[2021-02-09 13:41] lillebutik opened #1074 "Oldest LOT that can fulfill the order"
Imagine that you have a product where you _strongly_ prefer to deliver products with the same LOT.

Product A has 3 LOTS called LOT1 (8 qty), LOT2 (10 qty) and LOT3 (30 qty). Age LOT1 > LOT2 > LOT 3

**Complete**
A customer orders 6 qty -> Odoo should reserve 6 qty from LOT1 -> Because LOT1 is the oldest LOT that can fulfill the order.

A customer orders 16 qty -> Odoo should reserve 16 qty from L

[2021-02-10 15:03] phuctranfxvn commented on #981
`stock_location_position` migrated https://github.com/OCA/stock-logistics-warehouse/pull/1076

[2021-02-10 15:42] phuctranfxvn commented on #981
`stock_location_bin_name` migrated https://github.com/OCA/stock-logistics-warehouse/pull/1078

[2021-02-12 14:26] phuctranfxvn commented on #981
`stock_move_auto_assign` migrated in https://github.com/OCA/stock-logistics-warehouse/pull/1082

[2021-02-16 02:55] dzungtran89 commented on #981
- stock_vertical_lift: https://github.com/OCA/stock-logistics-warehouse/pull/1090
- stock_vertical_lift_kardex: https://github.com/OCA/stock-logistics-warehouse/pull/1091
- stock_vertical_lift_packaging_type: https://github.com/OCA/stock-logistics-warehouse/pull/1092

[2021-02-17 01:13] phuctranfxvn commented on #981
`stock_location_tray` migrated in https://github.com/OCA/stock-logistics-warehouse/pull/1079

[2021-02-19 08:29] victoralmau commented on #727
Working on `sale_stock_available_info_popup` https://github.com/OCA/stock-logistics-warehouse/pull/1086

[2021-02-19 17:58] sergio-teruel opened #1088 "[12.0] stock_move_location. Fill with stock"
Hi @i-vyshnevska Is really needed this commit??
https://github.com/OCA/stock-logistics-warehouse/commit/35c08c22887162f1e8b14664d9960314f7562020#diff-ff98a047e18b4613ecd76fb88096eedc2f0ba55aafb968016820ba038f8a74b6
If we can move all stock from one location to another with the wizard.

[2021-02-21 11:01] ccandito opened #1089 "stock_archive_constraint"
in checking location I'd suggest
1) to add the destination location in stock move, stock move line and
2) the quantity has to be != to zero in stock quant
what i mean is as follows:
1)
            [
                ("state", "not in", ("done", "cancel")),
                "|","|","|",
                ("location_id", "in", self.filtered(lambda x: not x.active).ids),
                ("location_id", "

[2021-02-25 12:51] victoralmau commented on #727
I'm working on `stock_available_immediately` https://github.com/OCA/stock-logistics-warehouse/pull/1085

[2021-03-05 10:50] LoisRForgeFlow opened #1102 "[14.0] stock_inventory_include_exhausted test failling after changes upstream"
After this commit https://github.com/odoo/odoo/commit/b7e7029829915581056f3d79a36e3c2f60cc02f2 test are failling and travis is affected for all new pull requests.

@CarlosRoca13 you are the author, could you have a look?

[2021-03-05 10:58] CarlosRoca13 commented on #1102
Yes sure, thanks for your notice

[2021-03-05 11:50] CarlosRoca13 commented on #1102
I'm seeing that this module was added to odoo 14 https://github.com/OCA/OCB/blob/14.0/addons/stock/models/stock_inventory.py/#L62-L65 So I will remove this module on 14 and add it to OpenUpgrade

[2021-03-05 17:58] #1102 closed, assigned to nobody

[2021-03-23 10:24] JuanjoA opened #1109 "[12.0] stock_request from actions menu and quantity to request"
Hi, doesn't it seem logical that when creating a stock request, the units to be demanded are those provided by the product forecasted quantity (field _virtual_available_) in case this is negative, and not just 1 unit?

Example:
1. product variants list (_product.product_)
2. filter by negative forecasted stock
3. select all and from menu _Actions > Request Stock_
4. By default the stock request wi

[2021-03-24 10:35] bluezebra-io opened #1112 "[14.0] stock_available not saving settings in inventory -> settings -> Stock available to promise"
![New - Odoo 2021-03-24 11-34-42](https://user-images.githubusercontent.com/69618711/112296274-08c3d680-8c95-11eb-8295-498bdd797d4f.png)

[2021-03-29 18:02] hareshkansara commented on #1112
Hello Sir,

Based on your issue post, i have carefully checked and found it’s due to dependency missing. Let me explain how it happens.

When you go to Inventory > Configuration > Settings, In section “Stock available to promise”

1. When you click on checkbox “Exclude incoming goods”   then it will install module named as stock_available_immediately (Ignore planned receptions in quantity availabl

[2021-03-29 18:04] pedrobaeza commented on #1112
`stock_available_mrp` is not yet migrated to 14.0, but the button tries to install, so it's not a bug, but not yet finished. Closing the issue.

[2021-03-29 18:04] #1112 closed, assigned to nobody

[2021-03-29 18:05] pedrobaeza commented on #1112
@hareshkansara thanks for investigating it.

[2021-04-08 12:33] iman-alhaddar opened #1122 "Odoo package list"
Impacted versions: 13.0

Steps to reproduce: Go to Inventory> then master data> then packages.

Current behavior: We will find that there is no data except for the (Company , Owner, Location, and the content which is Product, L/S number , quantity, unit of measure).

Expected behavior: We want to define more info like to add the gross and net weight and we need to print all the report in QR code i

[2021-04-08 15:15] pedrobaeza commented on #1122
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2021-04-08 15:15] #1122 closed, assigned to nobody

[2021-04-16 16:12] bengush opened #1131 "Settings showing an error"
![Capture](https://user-images.githubusercontent.com/46672484/115053568-caee5280-9ece-11eb-8a56-f3b84f66072a.PNG)
Error:

Traceback:
TypeError: field_utils.format[(formatType || this.formatType)] is not a function
    at Class._formatValue (http://:8069/web/content/50027-8e0e774/web.assets_backend.js:900:1237)
    at Class._render (http://:8069/web/content/50027-8e0e774/web.assets_backend.js:894:1

[2021-04-16 16:14] pedrobaeza commented on #1131
And is due to any module in this repository?

[2021-04-16 16:15] bengush commented on #1131
There is no error showing in the logs

[2021-04-16 17:11] bengush commented on #1131
I was installing a module MRP and this error came up, though there is no error showing in the logs

[2021-04-16 17:18] pedrobaeza commented on #1131
Sorry, but if you can't reproduce the problem in OCA runbot, then it's not something of the module, but your deployment or your process, so nothing can be done here.

[2021-04-21 19:15] juhk opened #1139 "[13.0] stock_mts_mto_rule: Error when migrating database"
OpenUpgrade migration from version 12.0 to 13.0 fails with following error:
[code]
Migration completed successfully after adding `<data noupdate="1">` tag to stock_mts_mto_rule/data/stock_data.xml file.

[2021-05-07 20:16] kos94ok-3D opened #1147 "[12.0] contains_unreserved in stock_available_unreserved"
This field impact on perfomance when validate transfer with tracked by serial number products.
Some one can explane what is mean `contains_unreserved` field?

[2021-05-08 08:41] kos94ok-3D commented on #1147
Closed because found answer on PR: https://github.com/OCA/stock-logistics-warehouse/pull/511

[2021-05-08 08:41] #1147 closed, assigned to nobody

[2021-05-20 07:24] ghost opened #1155 "[13.0][stock_available] Unable to select any options in settings"
I recently installed both the stock_available and [website_sale_stock_available](https://github.com/OCA/e-commerce/tree/13.0/website_sale_stock_available) modules (version 13) on our Odoo install (Odoo 13.0-20200629 (Community Edition)) and have found they are not working as expected.

When follow the readme for the website_sale_stock_available module it states:

However when we select either of t